{% extends 'base.html' %}
{% block titulo %}
    Nuevo Permiso
{% endblock %}
{% block header %}
{% endblock %}
{% block contenido %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Crear nuevo Permiso
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="{% url 'proyecto:vista_index' %}">Inicio</a>
                </li>

                <li>
                    <i class="fa fa-table"></i> <a href="{% url 'proyecto:vista_listaPermisos' %}">Lista de Permisos</a>
                </li>
                <li class="active">
                    <i class="fa fa-edit"></i> Nuevo permiso
                </li>
            </ol>
        </div>
        <div class="col-lg-6">
            {% if msj_error %}
                <div class="alert alert-danger">
                    <strong>Error!</strong> {{ msj_error }}
                </div>
            {% endif %}
            {% if msj_ok %}
                <div class="alert alert-success">
                    <strong>OK!</strong> {{ msj_ok }}
                </div>
            {% endif %}
            <form action="" method="post" name="form" id="form">
                {% csrf_token %}

                <label>Nombre:</label>
                <input class="form-control" name="nombre" placeholder="Este campo no puede estar vacio" required
                       autofocus>
                <br>

                <br>

                <button type="submit" class="btn btn-success" >Guardar</button>
                <button type="reset" class="btn btn-default">Limpiar datos</button>
                <a class="btn btn-sm btn-default" href="{% url 'proyecto:vista_listaPermisos' %}">Cancelar</a>



            </form>
            <div id="loading"></div>
        </div>

    </div>

{% endblock %}