{% extends 'base.html' %}
{% block titulo %}
    Editar Permiso
{% endblock %}
{% block header %}
    <script>
        $(document).on("click", "#btnEliminar", function (e) {
            bootbox.dialog({
                message: "¿Realmente desea eliminar el permiso '{{ permiso.nombre }}' ?",
                title: "Eliminar permiso",
                buttons: {
                    success: {
                        label: "Sí",
                        className: "btn-success",
                        callback: function () {

                            var request = $.ajax({
                                type: "POST",
                                url: "{% url 'proyecto:vista_eliminarPermiso' %}",
                                data: {
                                    "csrfmiddlewaretoken": "{{ csrf_token }}",
                                    "IDPermiso": {{ permiso.id }}
                                },
                            });
                            request.done(function (response) {
                                alert("Permiso eliminado..");
                                window.location="{% url 'proyecto:vista_listaPermisos' %}"
                            });
                        }
                    },
                    danger: {
                        label: "No",
                        className: "btn-danger"
                    }
                }
            });
        });
    </script>
{% endblock %}
{% block contenido %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Editar permiso
                <small></small>
            </h1>
            <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="{% url 'proyecto:vista_index' %}">Inicio</a>
                            </li>

                            <li>
                                <i class="fa fa-table"></i> <a href="{% url 'proyecto:vista_listaPermisos' %}">Lista de Permisos</a>
                            </li>
                             <li class="active">
                                <i class="fa fa-edit"></i> Editar permiso
                            </li>
                        </ol>
        </div>
        <div class="col-lg-6">
            {% if msj_error %}
                <div class="alert alert-danger">
                    <strong>Error!</strong> {{ msj_error }}
                </div>
            {% endif %}
            {% if msj_ok %}
                <div class="alert alert-success">
                    <strong>OK!</strong> {{ msj_ok }}
                </div>
            {% endif %}
            <form id="formEditarUsuario" action="" method="post">
                {% csrf_token %}


                <input class="form-control" id="id" name="id" value="{{ permiso.id }}" style="display: none">

                <label>Nombre</label>
                <input class="form-control" id="nombre" name="nombre" value="{{ permiso.nombre}}" required>

                <br>
                <button type="submit" class="btn btn-success">Guardar</button>
                <a class="btn btn-sm btn-default" href="{% url 'proyecto:vista_listaPermisos' %}">Cancelar</a>
                <button type="button" id="btnEliminar" class="btn btn-danger">Eliminar</button>
            </form>
        </div>
    </div>

{% endblock %}