{% extends 'base.html' %}
{% block titulo %}
    Lista de Permisos
{% endblock %}
{% block header %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <script> generate("success","{{ message }}") </script>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
{% block contenido %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">

            <h1 class="page-header">
                Lista de Permisos
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="{% url 'proyecto:vista_index' %}">Inicio</a>
                </li>
                <li class="active">
                    <i class="fa fa-table"></i> Lista de Permisos
                </li>
            </ol>
        </div>
        <div class="col-lg-4 text-center">


            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th>
                        <center>Nombre</center>
                    </th>
                    <th>
                        <center>Permiso</center>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for permiso in lista_permisos %}
                    <tr>
                        <td>{{ permiso.nombre }}</td>
                        <td>
                            <a class="btn btn-sm btn-default"
                               href="{% url 'proyecto:vista_editarPermiso' permiso.id %}">Editar</a>
                        </td>

                    </tr>

                {% endfor %}

                </tbody>
            <nav class="navbar-fixed-bottom">
                <a href="{% url 'proyecto:vista_nuevoPermiso' %}" class="btn btn-success ">Nuevo permiso</a>
            </nav>
            </table>

        </div>

    </div>
{% endblock %}