{% extends 'base.html' %}
{% block titulo %}
    Ver Permiso
{% endblock %}
{% block header %}

{% endblock %}
{% block contenido %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Detalles de permiso
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="{% url 'proyecto:vista_index' %}">Inicio</a>
                </li>

                <li>
                    <i class="fa fa-table"></i> <a href="{% url 'proyecto:vista_listaPermisos' %}">Lista de Permisos</a>
                </li>
                <li class="active">
                    <i class="fa fa-edit"></i> Detalles de permiso
                </li>
            </ol>
        </div>
        <div class="col-lg-6">
            {% if msj_error %}
                <div class="alert alert-danger">
                    <strong>Error!</strong> {{ msj_error }}

                </div>
            {% endif %}
            {% if msj_ok %}
                <div class="alert alert-success">
                    <strong>OK!</strong> {{ msj_ok }}
                {% if linkNuevo %}
                         <a href="{% url 'proyecto:vista_nuevoPermiso' %}" class="btn btn-sm btn-success" >Nuevo permiso</a>
                    {% endif %}
                </div>
            {% endif %}

            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>Nombre</th>
                </tr>
                </thead>
                <tbody>
                <tr>

                    <td>{{ permiso.nombre }}</td>
                </tr>
                </tbody>
            </table>
            <a class="btn btn-sm btn-default" href="{% url 'proyecto:vista_editarPermiso' permiso.id %}">Editar</a>
        </div>
    </div>

{% endblock %}