{% extends 'base_para_proyecto.html' %}
{% block titulo %}
    AnhadirUsaFlujo
{% endblock %}
{% block header %}

{% endblock %}
{% block contenido %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Añadir US a flujo
                <small></small>
            </h1>
             <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="{% url 'proyecto:vista_index' %}">Inicio</a>
                            </li>
                            {% if request.user.is_staff %}
                             <li>
                                <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_listar_proyectos' %}">Lista de Proyectos</a>
                            </li>
                            {% else %}
                            <li>
                                <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_mis_proyectos' %}">Mis Proyectos</a>
                            </li>
                            {% endif %}
                            <li>
                                <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_consultar_proyecto' proyecto.id %}">Consulta Proyecto</a>
                            </li>
                            <li>
                                <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_lista_sprint' idP %}">Sprint Backlog</a>
                            </li>
                            <li>
                                <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_consultar_sprint' idP idS %}">Consulta de Sprint</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-list"></i>Añadir US a Flujo
                            </li>

            </ol>
        </div>
        <div class="col-lg-6">

            <form action="" method="post">
            {% csrf_token %}
                <select class="form-control" name="idFlujo">
                    {% for flujo in listaFlujos %}

                        <option value="{{ flujo.id }}">{{ flujo.descripcion }}</option>
                    {% endfor %}
                </select>
            <br>
                <button type="submit" class="btn btn-success">Guardar</button>
            </form>
        </div>
    </div>

{% endblock %}