{% extends 'base_para_proyecto.html' %}
{% block titulo %}
    detalles Estado
{% endblock %}
{% block header %}

{% endblock %}
{% block contenido %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Editar flujo
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="{% url 'proyecto:vista_index' %}">Inicio</a>
                </li>
                <li>
                    <i class="fa fa-table"></i> <a href="{% url 'proyecto:vista_listaFlujos' proyecto.id %}">Lista de
                    Flujos</a>
                </li>
                <li>
                    <i class="fa fa-table"></i> <a href="{% url 'proyecto:vista_verFlujo' idP idFlujo %}">Detalle del
                    Flujo</a>
                </li>
                <li class="active">
                    <i class="fa fa-edit"></i> Editar Flujo  </i>
                </li>
            </ol>
        </div>
        <div class="col-lg-6">
            {% if msj_error %}
                <div class="alert alert-danger">
                    <strong>Error!</strong> {{ msj_error }}
                </div>
            {% endif %}
            {% if msj_ok %}
                <div class="alert alert-success">
                    <strong>OK!</strong> {{ msj_ok }}
                </div>
            {% endif %}
            {% if not esDeveloper %}
                <form id="formEditarUsuario" action="" method="post">
                    {% csrf_token %}
                    <label>Actividad actual del Us</label>
                    <select class="form-control" id="actividad" name="actividad">
                        {% for actividad in listaActividades %}
                            {% if actividad == actividadActual %}
                                <option selected="selected">{{ actividad.descripcion }}</option>
                            {% else %}
                                <option>{{ actividad.descripcion }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label>Estado del User Story</label>
                    <select class="form-control" id="estado" name="estado">
                        {% if estado == 'To Do' %}
                            <option selected="selected">To Do</option>
                            <option>Doing</option>
                            <option>Done</option>
                        {% elif estado == 'Doing' %}
                            <option>To Do</option>
                            <option selected="selected">Doing</option>
                            <option>Done</option>
                        {% elif estado == 'Done' %}
                            <option>To Do</option>
                            <option>Doing</option>
                            <option selected="selected">Done</option>
                        {% endif %}
                    </select>
                    <br>
                    <button type="submit" class="btn btn-success">Guardar</button>
                    <a class="btn btn-sm btn-default" href="{% url 'proyecto:vista_verFlujo' idP idFlujo %}">Cancelar</a>
                </form>
            {% else %}
                <form id="formEditarUsuario" action="" method="post">
                    {% csrf_token %}
                    <label>Actividad actual del Us</label>
                    <input class="form-control" name="actividadActual" value="{{ actividadActual.id }}"
                           style="display:none;">

                    <div class="form-control">{{ actividadActual.descripcion }}</div>
                    <label>Estado del User Story</label>
                    <select class="form-control" name="estado">

                        {% if estado == 'To Do' %}
                            {% if hayActividadAnterior %}
                                <option>Doing (Actividad anterior)</option>
                            {% endif %}
                            <option selected="selected">To Do</option>
                            <option>Doing</option>
                        {% elif estado == 'Doing' %}
                            <option>To Do</option>
                            <option selected="selected">Doing</option>
                            <option>Done</option>
                        {% elif estado == 'Done' %}
                            <option>Doing</option>
                            <option selected="selected">Done</option>
                            {% if hayActividadSiguiente %}
                                <option>To Do (Actividad siguiente)</option>
                            {% endif %}
                        {% endif %}
                    </select>
                    <br>
                    <button type="submit" class="btn btn-success">Guardar</button>
                    <a class="btn btn-sm btn-default" href="{% url 'proyecto:vista_verFlujo' idP idFlujo %}">Cancelar</a>
                </form>
            {% endif %}
        </div>
    </div>

{% endblock %}