{% extends 'base_para_proyecto.html' %}
{% load staticfiles %}
{% block titulo %}
    Nuevo Flujo
{% endblock %}
{% block header %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <script> generate('success', "{{ message }}");</script>
            {% endfor %}
        </ul>
    {% endif %}
    <script src="{% static 'js/jquery-ui-git.js' %}"></script>
    <script>
        $(document).ready(function () {


            $('#agregarActividad').click(function () {
                $('#error').hide()
                valor = $('#descripcion').val();
                if (valor != '') {
                    $('#tabla').append(
                            '<tr id="row"> ' +
                            '<td align="left" colspan="1">' + valor + '</td> ' +
                            '<td align="left" colspan="1">' +
                            '<input type="checkbox" ' +
                            'name= "chkActividades" ' +
                            'value="' + valor + '" checked>' +
                            '</td> ' +
                            '</tr>'
                    ).hide().fadeIn('fast');
                    $('#descripcion').val('');
                    $('#descripcion').focus();
                }
                else $('#error').fadeIn('fast')
            });
            $("#tabla").sortable({
                items: 'tr'
            });
        });

    </script>
{% endblock %}
{% block contenido %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Editar Flujo
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="{% url 'proyecto:vista_index' %}">Inicio</a>
                </li>
                <li>
                    <i class="fa fa-table"></i> <a href="{% url 'proyecto:vista_listaFlujos' proyecto.id %}">Lista de
                    Flujos</a>
                </li>
                <li>
                    <i class="fa fa-table"></i> <a href="{% url 'proyecto:vista_verFlujo' idP flujo.id %}">Detalle del
                    Flujo</a>
                </li>
                <li class="active">
                    <i class="fa fa-edit">Editar Flujo  </i>
                </li>
            </ol>
        </div>
        <div class="col-lg-6">
            <form id="form" name="form" action="" method="post">
                {% csrf_token %}
                {% if not usActuales %}
                    <label>Descripción</label>
                    <input class="form-control" name="descripcionFlujo" required autofocus value="{{ flujo.descripcion }}">
                    <br>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Actividades</h3>
                        </div>
                        <div class="panel-body">

                            <label>Descripción de actividad</label>
                            <input class="form-control" name="descripcion" id="descripcion">
                            <br>
                            <input type="button" id="agregarActividad" class="btn btn-default"
                                   value="Agregar actividad a la lista">
                            <br><br>
                            <div id="error" class="alert alert-danger" style="display: none">
                                El campo 'Descripcion' es obligatorio, ingrese datos e intente nuevamente.
                            </div>
                            Lista de actividades del flujo
                            <div class="alert alert-info">
                                <strong>Obs: </strong>el orden de la lista corresponde al orden de secuencia que tendrán estas actividades
                                dentro del flujo.
                                Arrastre y suelte cada item para reorganizarlos.
                            </div>
                            <table width="auto" id="tabla" style="border: ridge">
                                <thead>
                                <tr id="rowHeader">
                                    <th align="left" colspan="1">Actividad</th>
                                    <th align="left" colspan="1">Incluir a flujo</th>
                                    <th align="left" colspan="1"></th>
                                </tr>
                                </thead>
                                {% for actividad in lista_actividades %}
                                    <tr id="row">
                                        <td align="left" colspan="1">{{ actividad.descripcion }}</td>
                                        <td align="center" colspan="1">
                                            <input type="checkbox"
                                                   name="chkActividades"
                                                   value="{{ actividad.id }}" checked>
                                        </td>
                                        <td align="left" colspan="1">
                                            <a class="btn btn-sm btn-default"
                                               href="{% url 'proyecto:vista_editarActividad' proyecto.id flujo.id actividad.id %}"
                                            >Editar nombre de actividad</a>
                                        </td>
                                    </tr>
                                {% endfor %}

                            </table>
                        </div>

                    </div>

                {% endif %}

                <button type="submit" class="btn btn-success">Guardar</button>
                <a class="btn btn-sm btn-default" href="{% url 'proyecto:vista_verFlujo' idP flujo.id %}">Cancelar</a>

            </form>
        </div>
    </div>

{% endblock %}