{% extends 'base_para_proyecto.html' %}
{% block titulo %}
    detalles Actividad
{% endblock %}
{% block header %}

{% endblock %}
{% block contenido %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Detalles de actividad
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="{% url 'proyecto:vista_index' %}">Inicio</a>
                </li>
                <li>
                    <i class="fa fa-table"></i> <a href="{% url 'proyecto:vista_listaFlujos' proyecto.id %}">Lista de
                    Flujos</a>
                </li>
                <li>
                    <i class="fa fa-table"></i> <a href="{% url 'proyecto:vista_verFlujo' idP idFlujo %}">Detalle del
                    Flujo</a>
                </li>
                <li>
                    <i class="fa fa-edit"></i> <a href="{% url 'proyecto:vista_editarFlujo' idP idFlujo %}">Editar
                    Flujo</a>
                </li>
                <li class="active">
                    <i class="fa fa-edit"></i>Editar nombre de la actividad</i>
                </li>
            </ol>
        </div>
        <div class="col-lg-6">
            {% if msj_error %}
                <div class="alert alert-danger">
                    <strong>Error!</strong> {{ msj_error }}
                </div>
            {% endif %}
            {% if msj_ok %}
                <div class="alert alert-success">
                    <strong>OK!</strong> {{ msj_ok }}
                </div>
            {% endif %}
            <form id="formEditarUsuario" action="" method="post">
                {% csrf_token %}
                <label>Nombre de actividad</label>
                <input class="form-control" name="nombre" id="nombre" value="{{ actividad.descripcion }}">
                <br>
                <button type="submit" class="btn btn-success">Guardar</button>
                <a class="btn btn-sm btn-default" href="{% url 'proyecto:vista_verFlujo' idP idFlujo %}">Cancelar</a>

            </form>
        </div>
    </div>

{% endblock %}