{% extends 'base_para_proyecto.html' %}
{% load staticfiles %}
{% block titulo %}
    Nuevo Flujo
{% endblock %}
{% block header %}
    <script src="{% static 'js/jquery-ui-git.js' %}"></script>
    <script>
        function editarActividad(id, valor) {
            var nombre = prompt("Nombre Actividad:", valor.toString());
            if (nombre != "" && nombre != null) {
                $("#" + id).html(nombre)
                $("#input" + id).val(nombre)
            }
        }
        $(document).ready(function () {

            cont = 1
            $('#agregarActividad').click(function () {
                $('#error').hide()
                valor = $('#descripcion').val();
                if (valor != '') {
                    $('#tabla').append(
                            '<tr id="row"> ' +
                            '<td align="left" colspan="1" id= "' + cont + '" >' + valor + '</td> ' +
                            '<td align="left" colspan="1">' +
                            '<input type="checkbox" ' +
                            'name= "chkActividades" ' +
                            'id= "input' + cont + '"' +
                            ' value="' + valor + '" checked>' +
                            '</td> ' +
                            '<td align="left" colspan="1">' +
                            '<a class="btn btn-sm btn-default"' +
                            'href=javascript:editarActividad(' + cont + ',"' + valor + '")' +
                            '>Editar nombre de actividad</a>' +
                            '</td>' +
                            '</tr>'
                    ).hide().fadeIn('fast');
                    cont = cont + 1
                    $('#descripcion').val('');
                    $('#descripcion').focus();
                }
                else $('#error').fadeIn('fast')
            });
            $("#tabla").sortable({
                items: 'tr'
            });

        });

    </script>
{% endblock %}
{% block contenido %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Nuevo Flujo
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="{% url 'proyecto:vista_index' %}">Inicio</a>
                </li>
                <li>
                    <i class="fa fa-table"></i> <a href="{% url 'proyecto:vista_mis_proyectos' %}">Mis Proyectos</a>
                </li>
                <li>
                    <i class="fa fa-table"></i> <a href="{% url 'proyecto:vista_listar_proyectos' %}">Consulta
                    Proyecto</a>
                </li>
                <li class="active">
                    <i class="fa fa-list"></i>Nuevo Flujo
                </li>
            </ol>
        </div>
        <div class="col-lg-6">

            <form id="form" name="form" action="" method="post">
                {% csrf_token %}
                <label>Descripción del Flujo:</label>
                <input class="form-control"  name="descripcionFlujo" placeholder="Este campo no puede estar vacio" autofocus required>
                <br>
                <div class="alert alert-info">
                    Inserte la descripción de cada actividad para formar una lista de actividades para este
                    flujo.
                </div>
                <label>Descripción de actividad</label>
                <input class="form-control" name="descripcion" id="descripcion">
                <br>
                <input type="button" id="agregarActividad" class="btn btn-default"
                       value="Agregar actividad a la lista">
                <br><br>
                <div id="error" class="alert alert-danger" style="display: none">
                    El campo 'Descripcion' es obligatorio, ingrese datos e intente nuevamente.
                </div>
                Lista de actividades a ser agregadas al flujo
                <div class="alert alert-info">
                    Obs: el orden de la lista correponde al orden de secuencia que tendrán estas actividades
                    dentro del flujo.
                    Arrastre y suelte cada item para reorganizarlos.
                </div>

                <table width="350px" id="tabla" style="border: ridge">
                    <thead>
                    <tr id="rowHeader">
                        <th align="left" colspan="1">Actividad</th>
                        <th align="left" colspan="1">Incluir a flujo</th>
                        <th align="left" colspan="1"></th>
                    </tr>
                    </thead>
                </table>
                <br><br><br>
                <button type="submit" class="btn btn-success">Guardar</button>
                <a class="btn btn-sm btn-default" href="{% url 'proyecto:vista_listaFlujos' idP%}">Cancelar</a>
            </form>
        </div>
    </div>

{% endblock %}