{% extends 'base_para_proyecto.html' %}
{% block titulo %}
    Ver Flujo
{% endblock %}
{% block header %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                {% if 'warning' in message.tags %}
                    <script> generate('warning', "{{ message }}");</script>
                {% endif %}
                {% if 'success' in message.tags %}
                    <script> generate('success', "{{ message }}");</script>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
{% block contenido %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Detalles del flujo
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="{% url 'proyecto:vista_index' %}">Inicio</a>
                </li>

                <li>
                    <i class="fa fa-table"></i> <a href="{% url 'proyecto:vista_listaFlujos' proyecto.id %}">Lista de
                    Flujos</a>
                </li>
                <li class="active">
                    <i class="fa fa-edit"></i> Detalles de flujo
                </li>
            </ol>

            {% if msj_error %}
                <div class="alert alert-danger">
                    <strong>Error!</strong> {{ msj_error }}

                </div>
            {% endif %}
            {% if msj_ok %}
                <div class="alert alert-success">
                    <strong>OK!</strong> {{ msj_ok }}

                </div>
            {% endif %}

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"> Titulo</h3>
                </div>
                <div class="panel-body">
                    <li><strong>Id:</strong> {{ flujo.id }}</li>
                    <br>
                    <li><strong>Descripción:</strong> {{ flujo.descripcion }}</li>
                    <br>

                    <li><strong>Lista de Actividades del flujo:</strong></li>
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th>
                                <center>Secuencia en el flujo</center>
                            </th>
                            <th>
                                <center>Descripción</center>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for actividad in lista_actividades %}
                            <tr>
                                <td>
                                    <center>{{ actividad.orden }}</center>
                                </td>
                                <td>
                                    <center>{{ actividad.descripcion }}</center>
                                </td>

                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                    <br>
                    <li><strong>Lista de User Stories del flujo:</strong></li>
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th>
                                <center>Descripción corta</center>
                            </th>
                            <th>
                                <center>Descripción larga</center>
                            </th>
                            <th>
                                <center>Actividad actual del User Story</center>
                            </th>
                            <th>
                                <center>Estado dentro de la actividad</center>
                            </th>
                            <th>
                                <center>User Story</center>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for actividad_us in lista_actividad_us %}
                            <tr>
                                <td>
                                    <center><a href="{% url 'proyecto:vista_consultar_us' idP actividad_us.0.us.id %}" data-toggle="tooltip" title="Consultar detalles del User Story">{{ actividad_us.0.us.descripcion_corta }}</a></center>
                                </td>
                                <td>
                                    <center>{{ actividad_us.0.us.descripcion_larga }}</center>
                                </td>
                                <td>
                                    <center>{{ actividad_us.0.actividad.descripcion }}</center>
                                </td>
                                <td>
                                    <center>{{ actividad_us.0.get_estado_verbose }}</center>
                                </td>
                                <td>

                                    {% if actividad_us.1 == False%}
                                                El sprint de este US aún no está en ejecución.
                                    {% endif %}

                                    {% if 'editar_estado_us_scrum' in permisosAsociados and actividad_us.1 %}
                                        <center><a class="btn btn-sm btn-default"
                                                   href="{% url 'proyecto:vista_editarEstadoUS' idP flujo.id actividad_us.0.us.id %}"
                                        >Modificar estado
                                        </a>

                                        </center>
                                    {% else %}
                                    {% if actividad_us.0.us in lista_us_esDeveloper %}
                                        {% if actividad_us.actividad == ultimaActividad and actividad_us.get_estado_verbose == 'Done' %}
                                        <center>Finalizó el flujo actual</center>

                                        {% elif actividad_us.1 %}
                                        <center><a class="btn btn-sm btn-default"
                                                   href="{% url 'proyecto:vista_editarEstadoUS' idP flujo.id actividad_us.0.us.id %}"
                                        >Modificar estado
                                        </a>
                                        </center>
                                            {% endif %}
                                    {% endif %}
                                {% endif %}
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                    <br>
                    {% if "editar_flujo" in permisosAsociados and not usActuales%}
                        <a class="btn btn-sm btn-default"
                           href="{% url 'proyecto:vista_editarFlujo' proyecto.id flujo.id %}">Editar nombre del flujo y sus actividades</a>
                    {% endif %}
                <br><br>
                <li><strong>Log de eventos:</strong></li>
                        <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Descripción del evento</th>
                                        <th>Hora y fecha del evento</th>

                                    </tr>
                                </thead>
                                <tbody>
                                {% for log in lista_log %}
                                    <tr>

                                        <td>{{ log.descripcion }}</td>
                                        <td>{{ log.timestamp }}</td>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                </div>
            </div>
        </div>

    </div>
{% endblock %}