{% extends 'base.html' %}
{% block titulo %}
    Editar contrasenha
{% endblock %}
{% block header %}
{% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <script> generate("error","{{ message }}") </script>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
{% block contenido %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Cambio de contraseña
                <small></small>
            </h1>
            <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="{% url 'proyecto:vista_index' %}">Inicio</a>
                            </li>

                            <li>
                                <i class="fa fa-table"></i> <a href="{% url 'proyecto:vista_listaUsuarios' %}">Lista de Usuarios</a>
                            </li>
                            <li>
                                <i class="fa fa-table"></i> <a href="{% url 'proyecto:vista_editarUsuario' usuario.id %}">Editar usuario</a>
                            </li>
                             <li class="active">
                                <i class="fa fa-edit"></i>Cambio de contraseña
                            </li>
                        </ol>
        </div>
        <div class="col-lg-6">
            {% if msj_error %}
                <div class="alert alert-danger">
                    <strong>Error!</strong> {{ msj_error }}
                </div>
            {% endif %}
            {% if msj_ok %}
                <div class="alert alert-success">
                    <strong>OK!</strong> {{ msj_ok }}
                </div>
            {% endif %}
            <form id="formEditarUsuario" action="" method="post">
                {% csrf_token %}

                 <input class="form-control" name="id" value="{{ usuario.user.id }}" style="display: none">
                <label>Contraseña actual</label>
                <input class="form-control" name="passwordActual" type="password" autofocus required>
                <label>Nueva contraseña</label>
                <input class="form-control" name="passwordnuevo1" type="password" required>

                <label>Repetir nueva contraseña</label>
                <input class="form-control" name="passwordnuevo2" type="password" required>

                <br>
                <button type="submit" class="btn btn-success">Guardar</button>

            </form>
        </div>
    </div>

{% endblock %}