{% extends 'base.html' %}
{% block titulo %}
    Crear Usuario
{% endblock %}
{% block header %}
{% endblock %}
{% block contenido %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Nuevo usuario
                <small></small>
            </h1>
        </div>
           <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="{% url 'proyecto:vista_index' %}">Inicio</a>
                            </li>

                            <li>
                                <i class="fa fa-table"></i> <a href="{% url 'proyecto:vista_listaUsuarios' %}">Lista de Usuarios</a>
                            </li>
                             <li class="active">
                                <i class="fa fa-edit"></i> Nuevo usuario
                            </li>
                        </ol>
        </div>
        <div class="col-lg-6">
            <form action="" method="post">
                {% csrf_token %}

                <label>Username:</label>
                <input class="form-control" id="username" name="username"  placeholder="Este campo no puede estar vacio" autofocus required>
                <br>
                <label>Nombre:</label>
                <input class="form-control" id="nombre" name="nombre" placeholder="Este campo no puede estar vacio" required>
                <br>
                <label>Apellido:</label>
                <input class="form-control" id="apellido" name="apellido" placeholder="Este campo no puede estar vacio" required>
                <br>
                <label>Email:</label>
                <input class="form-control" type="email" id="email" name="email" placeholder="Este campo no puede estar vacio" required>
                <br>
                <label>Teléfono:</label>
                <input class="form-control" type="number" id="telefono" name="telefono" placeholder="Opcional">
                <br>
                <label>Dirección:</label>
                <input class="form-control" id="direccion" name="direccion" placeholder="Opcional">
                <br>
                <button type="submit" class="btn btn-success">Guardar</button>
                <button type="reset" class="btn btn-default">Limpiar datos</button>
                <a class="btn btn-sm btn-default" href="{% url 'proyecto:vista_listaUsuarios'%}">Cancelar</a>
            </form>
        </div>
    </div>

{% endblock %}