{% extends 'base.html' %}
{% block titulo %}
    Editar Usuario
{% endblock %}
{% block header %}
{% endblock %}
{% block contenido %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Detalles de usuario
                <small></small>
            </h1>
            <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="{% url 'proyecto:vista_index' %}">Inicio</a>
                            </li>

                            <li>
                                <i class="fa fa-table"></i> <a href="{% url 'proyecto:vista_listaUsuarios' %}">Lista de Usuarios</a>
                            </li>
                             <li class="active">
                                <i class="fa fa-edit"></i> Editar usuario
                            </li>
                        </ol>
        </div>
        <div class="col-lg-6">
            {% if msj_error %}
                <div class="alert alert-danger">
                    <strong>Error!</strong> {{ msj_error }}
                </div>
            {% endif %}
            {% if msj_ok %}
                <div class="alert alert-success">
                    <strong>OK!</strong> {{ msj_ok }}
                </div>
            {% endif %}
            <form id="formEditarUsuario" action="" method="post">
                {% csrf_token %}


                <input class="form-control" id="id" name="id" value="{{ usuario.user.id }}" style="display: none">
                <label>Username</label>
                <input class="form-control" id="username" name="username" value="{{ usuario.user.username }}" autofocus required>
                {% if usuario.user.id == user.id %}
                    <br><a href="{%  url 'proyecto:vista_cambiarContrasenha' usuario.user.id %}"id="btnContraseña" class="btn btn-sm btn-primary">Cambiar contraseña</a><br><br>
                {% endif %}
                <label>Nombre</label>
                <input class="form-control" id="nombre" name="nombre" value="{{ usuario.user.first_name }}" required>

                <label>Apellido</label>
                <input class="form-control" id="apellido" name="apellido" value="{{ usuario.user.last_name }}" required>

                <label>Email</label>
                <input class="form-control" type= "email" id="email" name="email" value="{{ usuario.user.email }}" required>

                <label>Teléfono</label>
                <input class="form-control" type= "number" id="telefono" name="telefono" value="{{ usuario.telefono }}">

                <label>Dirección</label>
                <input class="form-control" id="direccion" name="direccion" value="{{ usuario.direccion }}">

                <br>
                <button type="submit" class="btn btn-success">Guardar</button>
                <button type="reset" class="btn btn-default">Datos originales</button>
                <a class="btn btn-sm btn-default" href="{% url 'proyecto:vista_verUsuario' usuario.user.id%}">Cancelar</a>
            </form>
        </div>
    </div>

{% endblock %}