{% extends 'base.html' %}
{% block titulo %}
    Lista de Usuarios
{% endblock %}
{% block header %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <script> generate("success","{{ message }}") </script>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
{% block contenido %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Lista de Usuarios <small></small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="{% url 'proyecto:vista_index' %}">Inicio</a>
                </li>
                <li class="active">
                    <i class="fa fa-table"></i> Lista de usuarios
                </li>
            </ol>
        </div>
        <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th>Usuario</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th><center>Usuario</center></th>

            </tr>
            </thead>
            <tbody>
            {% for usuario in lista_usuarios %}
                <tr>
                    <td>{{ usuario.username }}</td>
                    <td>{{ usuario.first_name }}</td>
                    <td>{{ usuario.last_name }}</td>

                    <td>
                        <center>
                            <a class="btn btn-sm btn-default" href="{% url 'proyecto:vista_verUsuario' usuario.id %}">Detalles</a>
                            <a class="btn btn-sm btn-default" href="{% url 'proyecto:vista_editarUsuario' usuario.id %}">Modificar</a>
                        </center>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        <a href="{%  url 'proyecto:vista_nuevoUsuario' %}" class="btn btn-success" >Nuevo Usuario</a>
    </div>
{% endblock %}