{% extends 'base.html' %}
{% block titulo %}
    Detalles de Usuario
{% endblock %}
{% block header %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <script> generate("success","{{ message }}") </script>
            {% endfor %}
        </ul>
    {% endif %}
    <script>
        $(document).on("click", "#btnEliminar ", function (e) {
            bootbox.dialog({
                message: "¿Realmente desea eliminar el usuario '{{ usuario.user.username }}'?",
                title: "Eliminar usuario",
                buttons: {
                    success: {
                        label: "Sí",
                        className: "btn-success",
                        callback: function () {

                            var request = $.ajax({
                                type: "POST",
                                url: "{% url 'proyecto:vista_eliminarUsuario' %}",
                                data: {
                                    "csrfmiddlewaretoken": "{{ csrf_token }}",
                                    "IDUsuario": {{ usuario.user.id }}
                                },
                            });
                            request.done(function (response) {
                                if (response == "no"){
                                    alert("Usuario eliminado..");
                                }
                                else{
                                    alert(response);
                                }
                                window.location="{% url 'proyecto:vista_listaUsuarios' %}"
                            });
                        }
                    },
                    danger: {
                        label: "No",
                        className: "btn-danger"
                    }
                }
            });
        });
    </script>
{% endblock %}
{% block contenido %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Detalles de usuario
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="{% url 'proyecto:vista_index' %}">Inicio</a>
                </li>
                <li>
                                <i class="fa fa-table"></i> <a href="{% url 'proyecto:vista_listaUsuarios' %}">Lista de Usuarios</a>
                            </li>
                <li class="active">
                    <i class="fa fa-edit"></i> Detalles de usuario
                </li>
            </ol>
        </div>
        <div class="col-lg-6">
        {% if msj_error %}
            <div class="alert alert-danger">
                <strong>Error!</strong> {{ msj_error }}
            </div>
        {% endif %}
        {% if msj_ok %}
            <div class="alert alert-success">
                <strong>OK!</strong> {{ msj_ok }}
            </div>
        {% endif %}
         <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"> {{ usuario.user.username }} </h3>
                </div>
                <div class="panel-body">
                    <ul>

                <li><strong>Nombre:</strong> {{ usuario.user.first_name }} </li><br>
                <li><strong>Apellido:</strong> {{ usuario.user.last_name }} </li><br>
                <li><strong>Email:</strong> {{ usuario.user.email }} </li><br>
                <li><strong>Teléfono:</strong> {{ usuario.telefono }} </li><br>
                <li><strong>Dirección:</strong> {{ usuario.direccion }} </li><br>
                    </ul>
        <br><br>

                </div>
         </div>
        <br><br>
        <a class="btn btn-sm btn-default" href="{% url 'proyecto:vista_editarUsuario' usuario.user.id %}">Modificar</a>
         {% if request.user.is_staff %}
                <button type="button" id ="btnEliminar" class="btn btn-danger">Eliminar</button>
         {% endif %}
        </div>
    </div>

{% endblock %}