{% extends 'base.html' %}

{% block titulo %}
    Editar Rol
{% endblock %}
{% block header %}
    <script>
        $(document).on("click", "#btnEliminar", function (e) {
            bootbox.dialog({
                message: "¿Realmente desea eliminar el rol '{{ rol.nombre }}' ?",
                title: "Eliminar rol",
                buttons: {
                    success: {
                        label: "Sí",
                        className: "btn-success",
                        callback: function () {

                            var request = $.ajax({
                                type: "POST",
                                url: "{% url 'proyecto:vista_eliminarRol' %}",
                                data: {
                                    "csrfmiddlewaretoken": "{{ csrf_token }}",
                                    "IDRol": {{ rol.id }}
                                },
                            });
                            request.done(function (response) {
                                alert("Rol eliminado..");
                                window.location = "{% url 'proyecto:vista_listaRoles' %}"
                            });
                        }
                    },
                    danger: {
                        label: "No",
                        className: "btn-danger"
                    }
                }
            });
        });
    </script>
{% endblock %}
{% block contenido %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Detalles de Rol
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="{% url 'proyecto:vista_index' %}">Inicio</a>
                </li>

                <li>
                    <i class="fa fa-table"></i> <a href="{% url 'proyecto:vista_listaRoles' %}">Lista de Roles</a>
                </li>
                <li class="active">
                    <i class="fa fa-edit"></i> Editar rol
                </li>
            </ol>
        </div>
        <div class="col-lg-6">
            {% if msj_error %}
                <div class="alert alert-danger">
                    <strong>Error!</strong> {{ msj_error }}
                </div>
            {% endif %}
            {% if msj_ok %}
                <div class="alert alert-success">
                    <strong>OK!</strong> {{ msj_ok }}
                </div>
            {% endif %}
            <form id="formEditarRol" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <input class="form-control" name="id" value="{{ rol.id }}" style="display: none">

                <label>Nombre</label>
                {% if eliminable %}
                    <input class="form-control"  name="nombre" value="{{ rol.nombre }}" required>
                {% else %}
                    <input class="form-control"  name="nombre" value="{{ rol.nombre }}" style="display: none">
                   <div class="form-control">{{ rol.nombre }}</div>
                {% endif %}
                <br>
                <label>Permisos asociados</label>
                <div class="form-group">

                    {% for permiso in permisosActuales %}
                        <div class="checkbox">
                        <label>
                            <input type="checkbox" name="chkPermisos" value="{{permiso}}" checked>{{permiso}}
                            </label>
                        </div>
                    {% endfor %}

                    {% for permiso in lista_permisos %}
                        <div class="checkbox">
                        <label>
                            <input type="checkbox" name='chkPermisos'
                                   value="{{permiso.nombre}}">{{ permiso.nombre }}
                        </label>
                        </div>
                    {% endfor %}
                </div>
                    <button type="submit" class="btn btn-success">Guardar</button>
                    <a class="btn btn-sm btn-default" href="{% url 'proyecto:vista_verRol' rol.id %}">Cancelar</a>
                    {% if eliminable %}
                        <button type="button" id="btnEliminar" class="btn btn-danger">Eliminar</button>
                    {% endif %}
            </form>
        </div>
    </div>
    <br>


    </div>
    </div>

{% endblock %}