{% extends 'base.html' %}
{% block titulo %}
    Lista de Roles
{% endblock %}
{% block header %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <script> generate("success","{{ message }}") </script>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
{% block contenido %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Lista de Roles
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="{% url 'proyecto:vista_index' %}">Inicio</a>
                </li>
                <li class="active">
                    <i class="fa fa-table"></i> Lista de Roles
                </li>
            </ol>
        </div>
        <div class="col-lg-4">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th><center>Nombre</center></th>
                    <th>
                        <center>Acción</center>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for rol in lista_roles %}
                    <tr>
                        <td><center>{{ rol.nombre }}</center></td>
                        <td><center><a class="btn btn-sm btn-default" href="{% url 'proyecto:vista_verRol' rol.id %}">Ver</a>
                            <a class="btn btn-sm btn-default"
                               href="{% url 'proyecto:vista_editarRol' rol.id %}">Editar</a></center></td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'proyecto:vista_nuevoRol' %}" class="btn btn-success">Nuevo Rol</a>
        </div>
    </div>
{% endblock %}