{% extends 'base.html' %}
{% block titulo %}
    Crear Rol
{% endblock %}
{% block header %}
{% endblock %}
{% block contenido %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Nuevo rol
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="{% url 'proyecto:vista_index' %}">Inicio</a>
                </li>

                <li>
                    <i class="fa fa-table"></i> <a href="{% url 'proyecto:vista_listaRoles' %}">Lista de Roles</a>
                </li>
                <li class="active">
                    <i class="fa fa-edit"></i> Nuevo rol
                </li>
            </ol>
        </div>
        <div class="col-lg-6">

            <form id="formEditarRol" action="" method="post">
                {% csrf_token %}
                <label>Nombre</label>
                <input class="form-control" id="nombre" name="nombre" required autofocus>
                <br>

                <div class="form-group">
                    <label>Lista de permisos</label>
                    {% for permiso in lista_permisos %}
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="chkPermisos"
                                       value="{{ permiso.nombre }}">{{ permiso.nombre }}
                            </label>
                        </div>
                    {% endfor %}

                </div>
                <button type="submit" class="btn btn-success">Guardar</button>
                <a class="btn btn-sm btn-default" href="{% url 'proyecto:vista_listaRoles' %}">Cancelar</a>
            </form>
        </div>
    </div>

{% endblock %}