{% extends 'base.html' %}
{% block titulo %}
    Ver Rol
{% endblock %}
{% block header %}

{% endblock %}
{% block contenido %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Detalles de rol
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="{% url 'proyecto:vista_index' %}">Inicio</a>
                </li>

                <li>
                    <i class="fa fa-table"></i> <a href="{% url 'proyecto:vista_listaRoles' %}">Lista de Roles</a>
                </li>
                <li class="active">
                    <i class="fa fa-edit"></i> Detalles de rol
                </li>
            </ol>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"> {{ rol.nombre }} </h3>
                </div>
                <div class="panel-body">

                        <strong>Permisos asociados al rol</strong>
                        <br><br>

                    <ol>
                        {% for permiso in permisos %}
                            <li>{{ permiso }}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>

            <a class="btn btn-sm btn-default" href="{% url 'proyecto:vista_editarRol' rol.id %}">Editar</a>


        </div>
    </div>

{% endblock %}