{% extends 'base_para_proyecto.html' %}
{% block titulo %}
    Agregar Participantes
{% endblock %}
{% block header %}
{% endblock %}
{% block contenido %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Agregar participantes
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="{% url 'proyecto:vista_index' %}">Inicio</a>
                </li>
                <li class="active">
                    <i class="fa fa-table"></i><a href="{% url 'proyecto:vista_mis_proyectos' %}"> Mis Proyectos</a>
                </li>
                <li class="active">
                    <i class="fa fa-list"></i><a href="{% url 'proyecto:vista_consultar_proyecto' idP %}">Consulta Proyecto</a>
                </li>
                <li class="active">
                    <i class="fa fa-fw fa-edit"></i> Participantes del proyecto
                </li>
            </ol>
        </div>
        <div class="col-lg-6">
            {% if msj_error %}
                <div class="alert alert-danger">
                    <strong>{{ msj_error }}</strong>
                </div>
            {% endif %}
            {% if msj_ok %}
                <div class="alert alert-success">
                    <strong>{{ msj_ok }}</strong>
                </div>
            {% endif %}
            <form action="" method="post">
                {% csrf_token %}
                    <div class="form-group">
                        <label>Elegir Product Owner del Proyecto: </label>
                        <select class="form-control" id="owner_form" name="owner_form">
                            {% for nombre in lista_nombres_po %}
                                <option>{{ nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Elegir Developers del Proyecto: </label>
                           {% for nombre in lista_nombres_developers %}
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="participadentes_form" value="{{ nombre }}" checked>{{ nombre }}<br>
                                </label>
                            </div>
                            {% endfor %}
                            {% for nombre in lista_usuarios_no_check %}
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="participadentes_form" value="{{ nombre }}">{{ nombre }}<br>
                                </label>
                            </div>
                            {% endfor %}
                    </div>
                <br>
                <button type="submit" class="btn btn-success">Guardar</button>
                <button type="reset" class="btn btn-default">Limpiar datos</button>
                <a class="btn btn-sm btn-default" href="{% url 'proyecto:vista_consultar_proyecto' idP%}">Cancelar</a>
            </form>
        </div>
    </div>

{% endblock %}