{% extends 'base_para_proyecto.html' %}
{% block titulo %}
    Cancelar Proyecto
{% endblock %}
{% block header %}
{% endblock %}
{% block contenido %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Cancelar proyecto
                <small></small>
            </h1>
            <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="{% url 'proyecto:vista_index' %}">Inicio</a>
                            </li>
                            <li>
                                <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_mis_proyectos' %}">Mis Proyectos</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-list"></i><a href="{% url 'proyecto:vista_consultar_proyecto' idP %}">Consulta Proyecto</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-fw fa-edit"></i> Cancelar Proyecto
                            </li>
            </ol>
        </div>
        <div class="col-lg-6">
            <form action="" method="post">
                {% csrf_token %}

                <label>Describa los motivos por el cual cancela el Proyecto:</label>
                <textarea class="form-control" id="idDescripcion_cancelado" name="idDescripcion_cancelado" type="text" placeholder="Este campo no puede estar vacio" rows="5"
                          required maxlength="500"></textarea>
                <p class="help-block">Longitud máxima de 500 caracteres</p>
                <br>

                <button type="submit" class="btn btn-success" >Continuar</button>
                <button type="reset" class="btn btn-default">Limpiar Datos</button>
                <a class="btn btn-sm btn-default" href="{% url 'proyecto:vista_consultar_proyecto' idP%}">Cancelar</a>
            </form>
        </div>
    </div>

{% endblock %}