{% extends 'base_para_proyecto.html' %}
{% block titulo %}
    Detalle Proyecto
{% endblock %}
{% block header %}
    <script>
        $(document).on("click", "#btnEliminar", function (e) {
            bootbox.dialog({
                message: "¿Realmente desea eliminar el proyecto: {{ proyecto.nombre_corto }}?",
                title: "Eliminar Proyecto",
                buttons: {
                    success: {
                        label: "Sí",
                        className: "btn-success",
                        callback: function () {

                            var request = $.ajax({
                                type: "POST",
                                url: "{% url 'proyecto:vista_eliminar_proyecto' %}",
                                data: {
                                    "csrfmiddlewaretoken": "{{ csrf_token }}",
                                    "idP": {{ proyecto.id }}
                                },
                            });
                            request.done(function (response) {
                                alert("Proyecto eliminado..");
                                window.location="{% url 'proyecto:vista_listar_proyectos' %}"
                            });
                        }
                    },
                    danger: {
                        label: "No",
                        className: "btn-danger"
                    }
                }
            });
        });
    </script>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <script> generate("success","{{ message }}") </script>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block contenido %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Detalles del proyecto
                <small></small>
            </h1>

            <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="{% url 'proyecto:vista_index' %}">Inicio</a>
                            </li>
                            {% if request.user.is_staff %}
                             <li>
                                <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_listar_proyectos' %}">Lista de Proyectos</a>
                            </li>
                            {% else %}
                            <li>
                                <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_mis_proyectos' %}">Mis Proyectos</a>
                            </li>
                            {% endif %}

                            <li class="active">
                                <i class="fa fa-list"></i> Consulta Proyecto
                            </li>
            </ol>
        </div>
        <div class="col-lg-6">
            {% if proyecto.estado == 'IN' and proyecto.puede_finalizar == False and 'finalizar_proyecto' in permisosAsociados %}
                <div class="alert alert-warning">
                    <strong>Antención!:</strong>
                    Todos los Sprints deben estar finalizados para poder Finalizar el proyecto
                </div>
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"> {{ proyecto.nombre_largo }} </h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><strong>Id del Proyecto:</strong> {{ proyecto.id }} </li><br>
                        <li><strong>Nombre corto del Proyecto:</strong> {{ proyecto.nombre_corto }} </li><br>
                        <li><strong>Descripción del Proyecto:</strong>  {{ proyecto.descripcion }} </li><br>
                        <li><strong>Inicio del Proyecto:</strong>  {{ proyecto.inicio }} </li><br>
                        {% if proyecto.estado == 'CA' or proyecto.estado == 'FI' %}
                            <li><strong>Fin del Proyecto:</strong>  {{ proyecto.fin }} </li><br>
                        {% endif %}
                        <li><strong>Estado del Proyecto:</strong>  {{ proyecto.get_estado_verbose }} </li><br>
                        <li><strong>Scrum Master del Proyecto:</strong>  {{ proyecto.get_Scrum }} </li><br>
                        <li><strong>Product Owner del Proyecto:</strong>  {{ up_po.usuario.user.username }} </li><br>
                        <li><strong>Developers del Proyecto:</strong>
                            {% for developers in up_developer %}
                                    {{ developers.usuario.user.username }} /
                            {% endfor %}
                        </li><br>
                        {% if proyecto.estado == 'CA' %}
                            <li><strong>Razón del cacelamiento del proyecto:</strong>  {{ proyecto.descripcion_cancelado }} </li><br>
                        {% endif %}
                    </ul>

            <br><br>

                </div>
            </div>
            {% if request.user.is_staff %}
                <button id="btnEliminar" type="button" class="btn btn-danger">Eliminar</button>
            {% endif %}

            {{ user.session }}

        </div>

    </div>

{% endblock %}