{% extends 'base.html' %}
{% block titulo %}
    Proyecto
{% endblock %}
{% block header %}
{% endblock %}
{% block contenido %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Crear nuevo proyecto
                <small></small>
            </h1>
            <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="{% url 'proyecto:vista_index' %}">Inicio</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-fw fa-edit"></i> Crear nuevo proyecto
                            </li>
            </ol>
        </div>
        <div class="col-lg-6">
            <form action="" method="post">
                {% csrf_token %}

                <label>Nombre corto del Proyecto:</label>
                <input class="form-control" id="nombre_corto_form" name="nombre_corto_form" placeholder="Este campo no puede estar vacio" autofocus required>
                <p class="help-block">Longitud máxima de 20 caracteres</p>
                <br>
                <label>Nombre largo del Proyecto:</label>
                <input class="form-control" id="nombre_largo_form" name="nombre_largo_form" placeholder="Este campo no puede estar vacio" required>
                <p class="help-block">Longitud máxima de 50 caracteres</p>
                <br>
                <label>Descripción del Proyecto:</label>
                <textarea class="form-control" id="descripcion_form" name="descripcion_form" placeholder="Este campo no puede estar vacio" rows="3" required></textarea>
                <p class="help-block">Longitud máxima de 200 caracteres</p>
                <br>
                <div class="form-group">
                    <label>Elegir Scrum Master del Proyecto: </label>
                    <select class="form-control" id="scrum_form" name="scrum_form">
                        {% for usuario in lista_usuarios %}
                        <option>{{ usuario }}</option>
                        {% endfor %}
                    </select>
                </div>
                <br>

                <button type="submit" class="btn btn-success">Guardar</button>
                <button type="reset" class="btn btn-default">Limpiar datos</button>
                <a class="btn btn-sm btn-default" href="{% url 'proyecto:vista_listar_proyectos'%}">Cancelar</a>
            </form>
        </div>
    </div>

{% endblock %}