{% extends 'base.html' %}
{% block titulo %}
    Lista Proyectos
{% endblock %}
{% block header %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <script> generate("success","{{ message }}") </script>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
{% block contenido %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Lista de proyectos
                <small></small>
            </h1>

            <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="{% url 'proyecto:vista_index' %}">Inicio</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table"></i> Lista de Proyectos
                            </li>
            </ol>

        </div>
        <div class="col-lg-9">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th><center>Nombre Corto</center></th>
                        <th><center>Nombre Largo</center></th>
                        <th><center>Descripción</center></th>
                        <th><center>Proyecto</center></th>
                    </tr>
                </thead>
                <tbody>
                        {% for proyecto in lista_proyectos%}
                        <tr>
                            <td>{{ proyecto.nombre_corto}}</td>
                            <td>{{ proyecto.nombre_largo}}</td>
                            <td>{{ proyecto.descripcion}}</td>
                            <td>
                                <center>
                                    <a class="btn btn-sm btn-default" href="{% url 'proyecto:vista_consultar_proyecto' proyecto.id %}">Detalles</a>
                                    <a class="btn btn-sm btn-default" href="{% url 'proyecto:vista_modificar_proyecto' proyecto.id %}">Modificar</a>
                                </center>
                            </td>
                        </tr>
                        {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}