{% extends 'base.html' %}
{% block titulo %}
    Mis proyectos
{% endblock %}
{% block header %}
{% endblock %}
{% block contenido %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Mis proyectos
                <small></small>
            </h1>
            <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="{% url 'proyecto:vista_index' %}">Inicio</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table"></i> Mis Proyectos
                            </li>
            </ol>
        </div>
        <div class="col-lg-9">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th><center>Nombre Corto</center></th>
                        <th><center>Nombre Largo</center></th>
                        <th><center>Descripción</center></th>
                        <th><center>Proyecto</center></th>
                    </tr>
                </thead>
                <tbody>
                        {% for x in mis_proyectos%}
                        <tr>
                            <td>{{ x.proyecto.nombre_corto}}</td>
                            <td>{{ x.proyecto.nombre_largo}}</td>
                            <td>{{ x.proyecto.descripcion}}</td>
                            <td>
                                <center>
                                    <a class="btn btn-sm btn-default" href="{% url 'proyecto:vista_consultar_proyecto' x.proyecto.id %}">Detalles</a>
                                </center>
                            </td>
                        </tr>
                        {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}