{% extends 'base_para_proyecto.html' %}
{% block titulo %}
    Proyecto
{% endblock %}
{% block header %}
{% endblock %}
{% block contenido %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Modificar proyecto
                <small></small>
            </h1>
            <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="{% url 'proyecto:vista_index' %}">Inicio</a>
                            </li>
                            {% if request.user.is_staff %}
                             <li>
                                <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_listar_proyectos' %}">Lista de Proyectos</a>
                            </li>
                            {% else %}
                            <li>
                                <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_mis_proyectos' %}">Mis Proyectos</a>
                            </li>
                            {% endif %}
                            <li class="active">
                                <i class="fa fa-list"></i><a href="{% url 'proyecto:vista_consultar_proyecto' idP %}">Consulta Proyecto</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-fw fa-edit"></i> Modificar Proyecto
                            </li>
            </ol>
        </div>
        <div class="col-lg-6">
            <form action="" method="post">
                {% csrf_token %}

                <label>Nombre corto del Proyecto:</label>
                <input class="form-control" maxlength="20" id="nombre_corto_form" name="nombre_corto_form" placeholder="Este campo no puede estar vacio" value= "{{ proyecto.nombre_corto }}" autofocus required>
                <p class="help-block">Longitud máxima de 20 caracteres</p>
                <br>
                <label>Nombre largo del Proyecto:</label>
                <input class="form-control" maxlength="50" id="nombre_largo_form" name="nombre_largo_form" placeholder="Este campo no puede estar vacio" value= "{{ proyecto.nombre_largo }}" required>
                <p class="help-block">Longitud máxima de 50 caracteres</p>
                <br>
                <label>Descripción del Proyecto:</label>
                <textarea class="form-control" maxlength="200" id="descripcion_form" name="descripcion_form" placeholder="Este campo no puede estar vacio" rows="3"
                          required>{{ proyecto.descripcion }}</textarea>
                <p class="help-block">Longitud máxima de 200 caracteres</p>
                <br>

                <button type="submit" class="btn btn-success" >Guardar</button>
                <button type="reset" class="btn btn-default">Datos originales</button>
                <a class="btn btn-sm btn-default" href="{% url 'proyecto:vista_consultar_proyecto' idP%}">Cancelar</a>
            </form>
        </div>
    </div>

{% endblock %}