{% extends 'base_para_proyecto.html' %}
{% block titulo %}
    Reasignar SM
{% endblock %}
{% block header %}
{% endblock %}
{% block contenido %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Reasignar Scrum Master
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="{% url 'proyecto:vista_index' %}">Inicio</a>
                </li>
                {% if request.user.is_staff %}
                    <li>
                        <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_listar_proyectos' %}">Lista de Proyectos</a>
                    </li>
                {% else %}
                    <li>
                        <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_mis_proyectos' %}">Mis Proyectos</a>
                    </li>
                {% endif %}

                <li class="active">
                    <i class="fa fa-list"></i> Reasignar SM
                </li>
            </ol>
        </div>
        <div class="col-lg-9">
            <label>Scrum Master actual del Proyecto :</label>  {{ proyecto.get_Scrum }}
            <br>
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <br><label>Elegir Product Owner del Proyecto: </label>
                    <select class="form-control" id="nuevo_SM" name="nuevo_SM">
                        {% for nombre in lista_nombres %}
                            <option>{{ nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <br>
                <button type="submit" class="btn btn-success">Guardar</button>
                <a class="btn btn-sm btn-default" href="{% url 'proyecto:vista_consultar_proyecto' idP%}">Cancelar</a>
            </form>
        </div>
    </div>
{% endblock %}