{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SGP-{% block titulo %}

    {% endblock %} </title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/buttons.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic&amp;subset=latin,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
    <!-- Custom CSS -->
    <link href="{% static 'css/sb-admin.css'%}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{% static 'css/plugins/morris.css'%}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Morris Charts JavaScript -->
    <script src="{% static 'js/plugins/morris/raphael.min.js' %}"></script>
    <script src="{% static 'js/plugins/morris/morris.min.js' %}"></script>
    <script src="{% static 'js/plugins/morris/morris-data.js' %}"></script>
    <script src="{% static 'js/bootbox.js'  %}"></script>

    <script src="{% static 'js/jquery-1.7.2.min.js'  %}"></script>
    <script src="{% static 'js/jquery.noty.packaged.js'  %}"></script>
    <script src="{% static 'js/notification_html.js' %}"></script>
    <script src="{% static 'js/jquery.noty.packaged.js'  %}"></script>
    <script src="{% static 'js/notification_html.js' %}"></script>

    <script>

            function generate(type, text) {

                var n = noty({
                    text: text,
                    type: type,
                    dismissQueue: true,
                    layout: 'bottomRight',
                    closeWith: ['click'],
                    theme: 'relax',
                    maxVisible: 10,
                    animation: {
                        open: 'animated bounceInRight',
                        close: 'animated bounceOutRight',
                        easing: 'swing',
                        speed: 500
                    }
                });
                console.log('html: ' + n.options.id);

                setTimeout(function () {
                            $.noty.closeAll();
                        }, 3000);
            }

    </script>

{% block header %}

{% endblock %}
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">SGP Admin</a>
            </div>
            <!-- Top Menu Items -->
           {% include 'topMenu.html' %}
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
                {% include 'sidebarMenu_para_proyecto.html' %}
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="text-center">
                        <h1 class="display-1">
                            <u>{{ proyecto.nombre_largo }}</u>
                        </h1>
                </div>
                {% block contenido %}

                {% endblock %}
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


</body>

</html>
