{% extends 'base.html' %}
{% block titulo %}
    Inicio
{% endblock %}
{% block header %}
{% endblock %}
{% block contenido %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Sistema Gerenciador de Proyectos
                <small></small>
            </h1>

        </div>
    </div>

    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">

        </div>
        {% if user.is_staff %}
            <div class="col-lg-3 col-md-6 col-md-offset-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-calendar fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ cantProyectos }}</div>
                                <div>Proyectos</div>
                            </div>
                        </div>
                    </div>
                    <a href="{% url 'proyecto:vista_listar_proyectos' %}">
                        <div class="panel-footer">
                            <span class="pull-left">Ver lista de Proyectos</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-md-offset-0">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-users fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ cantUsuarios }}</div>
                                <div>Usuarios</div>
                            </div>
                        </div>
                    </div>
                    <a href="{% url 'proyecto:vista_listaUsuarios' %}">
                        <div class="panel-footer">
                            <span class="pull-left">Ver lista de usuarios</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        {% else %}
            <div class="col-lg-4 col-md-6 col-md-offset-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-calendar fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ cantProyectos }}</div>
                                <div>Proyectos</div>
                            </div>
                        </div>
                    </div>
                    <a href="{% url 'proyecto:vista_mis_proyectos' %}">
                        <div class="panel-footer">
                            <span class="pull-left">Ver Mis Proyectos</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
    <!-- /.row  -->
    <div class="row">

            <div class="col-lg-6 col-md-3 col-md-offset-3">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-calendar-o fa-5x"></i>
                            </div>
                            <div class=" text-center">
                                <div><h2>Calendario</h2></div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">

                            <iframe src="https://calendar.google.com/calendar/embed?showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=ck6ednfept5vkviunhucp41de8%40group.calendar.google.com&amp;color=%235F6B02&amp;ctz=America%2FAsuncion"
                                    style="border-width:0; " width="100%" height="100%" frameborder="0"
                                    scrolling="no"></iframe>

                        </div>
                    </a>
                </div>
            </div>


    </div>

    <!-- /.row  -->
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i>Últimas actividades en User
                        Stories</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        {% for log in logUs %}
                            <a href="#" class="list-group-item">
                                <span class="badge">{{ log.timestamp }}</span>
                                <i class="fa fa-fw fa-check"></i> <b>En
                                '{{ log.us.descripcion_corta }}': </b>{{ log.descripcion }}
                            </a>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i>Últimas actividades en Sprints
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        {% for log in logSprint %}
                            <a href="#" class="list-group-item">
                                <span class="badge">{{ log.timestamp }}</span>
                                <i class="fa fa-fw fa-check"></i> <b>En
                                Sprint '{{ log.sprint.id }}': </b>{{ log.descripcion }}
                            </a>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i>Últimas actividades en Flujos
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        {% for log in logFlujos %}
                            <a href="#" class="list-group-item">
                                <span class="badge">{{ log.timestamp }}</span>
                                <i class="fa fa-fw fa-check"></i> <b>En
                                '{{ log.flujo.descripcion }}': </b>{{ log.descripcion }}
                            </a>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- /.row  -->
{% endblock %}
