{% load staticfiles %}

<div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="{% url 'proyecto:vista_index' %}"><i class="fa fa-fw fa-home"></i> Dashboard</a>
                    </li>

                    {% if request.user.is_staff %}

                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#proyecto"><i class="fa fa-fw fa-calendar"></i>Proyectos <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="proyecto" class="collapse">
                            <li>
                                <a href= "{% url 'proyecto:vista_crear_proyecto' %}">Crear Proyecto</a>
                            </li>
                            <li>
                                <a href="{% url 'proyecto:vista_listar_proyectos' %}">Lista de Proyectos</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#usuarios"><i class="fa fa-fw fa-users"></i> Usuarios <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="usuarios" class="collapse">
                            <li>
                                <a href="{% url 'proyecto:vista_listaUsuarios' %}">Lista de Usuarios</a>
                            </li>
                            <li>
                                <a href="{% url 'proyecto:vista_listaPermisos' %}">Lista de Permisos</a>
                            </li>
                            <li>
                                <a href="{% url 'proyecto:vista_listaRoles' %}">Lista de Roles</a>
                            </li>
                        </ul>
                    </li>



                    {% else%}
                                <li>
                                    <a href="{% url 'proyecto:vista_mis_proyectos' %}"><i class="fa fa-fw fa-list-alt"></i> Mis Proyectos</a>
                                </li>
                    {% endif %}
                </ul>
            </div>
