{% load staticfiles %}

<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li class="active">
            <a href="{% url 'proyecto:vista_index' %}"><i class="fa fa-fw fa-home"></i> Dashboard</a>
        </li>
        {% if not request.user.is_staff %}
            <li>
                <a href="{% url 'proyecto:vista_mis_proyectos' %}"><i class="fa fa-fw fa-list-alt"></i> Mis Proyectos</a>
            </li>
        {% else %}
            <li>
                <a href="{% url 'proyecto:vista_listar_proyectos' %}"><i class="fa fa-fw fa-desktop"></i> Lista de Proyectos</a>
            </li>
        {% endif %}
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#proyecto"><i class="fa fa-fw fa-calendar"></i>Proyecto <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="proyecto" class="collapse">
                <li>
                    <a href= "{% url 'proyecto:vista_consultar_proyecto' idP %}">Detalles</a>
                </li>
                {% if 'modificar_proyecto' in permisosAsociados or request.user.is_staff %}
                    <li>
                        <a href= "{% url 'proyecto:vista_modificar_proyecto' idP %}">Modificar</a>
                    </li>
                {% endif %}
                {% if 'modificar_SM' in permisosAsociados %}
                    <li>
                        <a href= "{% url 'proyecto:vista_modificar_SM' idP %}">Reasignar SM</a>
                    </li>
                {% endif %}
                {% if proyecto.estado == 'EP' %}
                    {% if 'agregar_participantes' in permisosAsociados %}
                        <li>
                            <a href="{% url 'proyecto:vista_agregar_participantes' idP %}">Iniciar</a>
                        </li>
                    {% endif %}
                {% else %}
                    {% if 'agregar_participantes' in permisosAsociados %}
                        <li>
                            <a href="{% url 'proyecto:vista_agregar_participantes' idP %}">Participantes</a>
                        </li>
                    {% endif %}
                {% endif %}

                {% if proyecto.estado == 'IN' and 'cancelar_proyecto' in permisosAsociados %}
                    <li>
                        <a href= "{% url 'proyecto:vista_cancelar_proyecto' idP %}">Cancelar</a>
                    </li>
                {% endif %}
                {% if proyecto.estado == 'CA' and 'modificar_proyecto' in permisosAsociados %}
                    <li>
                        <a href= "{% url 'proyecto:vista_retomar_proyecto' idP %}">Retomar</a>
                    </li>
                {% endif %}
                {% if proyecto.estado == 'IN' and proyecto.puede_finalizar and 'finalizar_proyecto' in permisosAsociados %}
                    <li>
                        <a href= "{% url 'proyecto:vista_finalizar_proyecto' idP %}">Finalizar</a>
                    </li>
                {% endif %}
            </ul>
        </li>
        {% if proyecto.get_estado == 'IN' %}
            <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#us"><i class="fa fa-fw fa-pencil-square-o"></i> User Story <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="us" class="collapse">
                    {% if 'crear_us' in permisosAsociados %}
                        <li>
                            <a href="{% url 'proyecto:vista_crear_userstory' idP %}">Crear</a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'proyecto:vista_lista_us' idP %}">Product Backlog</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#sprint"><i class="fa fa-fw fa-tasks"></i> Sprint <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="sprint" class="collapse">
                    {% if 'crear_sprint' in permisosAsociados %}
                        <li>
                            <a href="{% url 'proyecto:vista_crear_sprint' idP %}">Crear</a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'proyecto:vista_lista_sprint' idP %}">Backlog</a>
                    </li>

                </ul>
            </li>

            <li>
                <a href="{% url 'proyecto:vista_listaKanban' idP%}"><i class="fa fa-fw fa-columns"></i> Kanban</a>
            </li>
            <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#flujo"><i class="fa fa-fw fa-arrow-right"></i> Flujo <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="flujo" class="collapse">
                    {% if 'crear_flujo' in permisosAsociados %}
                        <li>
                            <a href="{% url 'proyecto:vista_nuevoFlujo' proyecto.id%}">Crear Flujo</a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'proyecto:vista_listaFlujos' proyecto.id%}">Lista de Flujos</a>
                    </li>

                </ul>
            </li>


        {% endif %}
        {% if request.user.is_staff %}
            <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#usuarios"><i class="fa fa-fw fa-wrench"></i> Usuarios <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="usuarios" class="collapse">
                    <li>
                        <a href="{% url 'proyecto:vista_listaUsuarios' %}">Lista de Usuarios</a>
                    </li>
                    <li>
                        <a href="{% url 'proyecto:vista_listaPermisos' %}">Lista de Permisos</a>
                    </li>
                    <li>
                        <a href="{% url 'proyecto:vista_listaRoles' %}">Lista de Roles</a>
                    </li>
                </ul>
            </li>
        {% endif %}
    </ul>
</div>