 <ul class="nav navbar-right top-nav">


                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ request.user.username }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url 'proyecto:vista_verUsuario'  request.user.id%}"><i class="fa fa-fw fa-user"></i> Perfil</a>
                        </li>

                        <li class="divider"></li>
                        <li>
                            <a href="{% url 'autenticacion:vista_logout' %}"><i class="fa fa-fw fa-power-off"></i>Cerrar sesión</a>
                        </li>
                    </ul>
                </li>
            </ul>