{% extends 'base_para_proyecto.html' %}
{% block titulo %}
    Lista de Flujos
{% endblock %}
{% block header %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <script> generate("success","{{ message }}") </script>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
{% block contenido %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Lista de Flujos
                <small></small>
            </h1>

            <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="{% url 'proyecto:vista_index' %}">Inicio</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table"></i> Lista de Flujos
                            </li>
            </ol>

        </div>
        <div class="col-lg-4 text-center">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th><center>Descripción</center></th>
                        <th><center>Flujo</center></th>
                    </tr>
                </thead>
                <tbody>
                        {% for flujo in lista_flujos%}
                        <tr>
                            <td>{{ flujo.descripcion}}</td>
                            <td>
                                <center>
                                    <a class="btn btn-sm btn-default" href="{% url 'proyecto:vista_verKanban' proyecto.id flujo.id %}">Ver tablero Kanban</a>
                                </center>
                            </td>
                        </tr>
                        {% endfor %}

                </tbody>

            </table>


        </div>
    </div>
{% endblock %}