{% extends 'base_para_proyecto.html' %}
{% block titulo %}
    Ver Kanban
{% endblock %}
{% block header %}

{% endblock %}
{% block contenido %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Tablero Kanban - Flujo: '{{ flujo.descripcion }}'
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="{% url 'proyecto:vista_index' %}">Inicio</a>
                </li>

                <li>
                    <i class="fa fa-table"></i> <a href="{% url 'proyecto:vista_listaKanban' idP %}">Lista de Kanban</a>
                </li>
                <li class="active">
                    <i class="fa fa-edit"></i> Tablero Kanban - Flujo '{{ flujo.descripcion }}'
                </li>
            </ol>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        {% for actividad in lista_actividades %}
                            <th colspan="3" style="text-align: center">{{ actividad.descripcion }}</th>

                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% for actividad in lista_actividades %}
                            <th style="text-align: center">To Do</th>
                            <th style="text-align: center">Doing</th>
                            <th style="text-align: center">Done</th>
                        {% endfor %}
                    </tr>



                    {% for actividad_us in lista_actividad_us %}
                        <tr>
                            {# generar columnas de cada fila #}
                            {% for actividad in lista_actividades %}
                                {# comprobar si la columna de actividad corresponde al de US #}
                                {% if actividad.descripcion == actividad_us.actividad.descripcion %}
                                    {% if actividad_us.get_estado_verbose == "To Do" %}
                                        <td style="background-color: rgb(254,255,146); border-width: medium"><a href="{% url 'proyecto:vista_consultar_us' idP actividad_us.us.id %}" data-toggle="tooltip" title="Consultar detalles del User Story">{{ actividad_us.us.descripcion_corta }}</a></td>
                                        <td></td>
                                        <td></td>
                                    {% elif actividad_us.get_estado_verbose == "Doing" %}
                                        <td></td>
                                        <td style="background-color: rgb(254,255,146);border-width: medium"><a href="{% url 'proyecto:vista_consultar_us' idP actividad_us.us.id %}" data-toggle="tooltip" title="Consultar detalles del User Story">{{ actividad_us.us.descripcion_corta }}</a></td>
                                        <td></td>
                                    {% else %}
                                        <td></td>
                                        <td></td>
                                        <td style="background-color: rgb(254,255,146);border-width: medium"><a href="{% url 'proyecto:vista_consultar_us' idP actividad_us.us.id %}" data-toggle="tooltip" title="Consultar detalles del User Story">{{ actividad_us.us.descripcion_corta }}</a></td>

                                    {% endif %}
                                {% else %}
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                {% endif %}
                            {% endfor %}
                            {# Preguntar si la actividad corresponde a esta casilla #}

                        </tr>
                    {% endfor %}

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

{% endblock %}