{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>SGP-Login</title>
    {% load staticfiles %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <!-- Optional theme -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">

    <!-- Morris Charts JavaScript -->
    <script src="{% static 'js/plugins/morris/raphael.min.js' %}"></script>
    <script src="{% static 'js/plugins/morris/morris.min.js' %}"></script>
    <script src="{% static 'js/plugins/morris/morris-data.js' %}"></script>
    <script src="{% static 'js/bootbox.js'  %}"></script>

    <script src="{% static 'js/jquery-1.7.2.min.js'  %}"></script>
    <script src="{% static 'js/jquery.noty.packaged.js'  %}"></script>
    <script src="{% static 'js/notification_html.js' %}"></script>
    <script src="{% static 'js/jquery.noty.packaged.js'  %}"></script>
    <script src="{% static 'js/notification_html.js' %}"></script>

    <script>

            function generate(type, text) {

                var n = noty({
                    text: text,
                    type: type,
                    dismissQueue: true,
                    layout: 'bottomRight',
                    closeWith: ['click'],
                    theme: 'relax',
                    maxVisible: 10,
                    animation: {
                        open: 'animated bounceInRight',
                        close: 'animated bounceOutRight',
                        easing: 'swing',
                        speed: 500
                    }
                });
                console.log('html: ' + n.options.id);

                setTimeout(function () {
                            $.noty.closeAll();
                        }, 3000);
            }

    </script>
</head>
<body>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <script> generate("success","{{ message }}") </script>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="container">
	<div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Ingresar a SGP</h3>
                </div>
                <div class="panel-body">
                    <form action="" method="post" role="form">
                        {% csrf_token %}
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Username" name="username" type="username" autofocus>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="password" type="password" value="">
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <button type="hidden" name="next" class="btn btn-success btn-block" value="{{ next|escape }}">Login </button>
                            <!--<p>New Member? <a href="signUp.html" class="">Sign up</a></p> -->
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                {% if mensaje %}<h4>{{ mensaje }}</h4>{% endif %}
            </div>
        </div>
    </div>

    <!-- Latest compiled and minified JavaScript -->
    <script src="{% static 'bootstrap/js/jquery.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>