{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" href="{% static 'css/stylelogin.css' %}">
    <!--<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700">-->

</head>

<body>
    <div id="login">
        <form name='form-login' method="post">
            {% csrf_token %}
            <span class="fontawesome-user"></span>
            <input type="text" name="username" placeholder="Username" autofocus>

            <span class="fontawesome-lock"></span>
            <input type="password" name="password" placeholder="Password">

            <input type="submit" value="Login">
        <div align="center">
            <br>
            {% if mensaje %}
                <h3>
                    {{ mensaje }}
                </h3>
            {% endif %}
        </div>
        </form>
    </div>
</body>
</html>
