{% extends 'base_para_proyecto.html' %}
{% block titulo %}
    Agregar US a Sprint
{% endblock %}
{% block header %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <script> generate("success","{{ message }}") </script>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block contenido %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Agregar User Story a Sprint
                <small></small>
            </h1>

            <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="{% url 'proyecto:vista_index' %}">Inicio</a>
                            </li>
                            {% if request.user.is_staff %}
                             <li>
                                <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_listar_proyectos' %}">Lista de Proyectos</a>
                            </li>
                            {% else %}
                            <li>
                                <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_mis_proyectos' %}">Mis Proyectos</a>
                            </li>
                            {% endif %}
                            <li>
                                <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_consultar_proyecto' proyecto.id %}">Consulta Proyecto</a>
                            </li>
                            <li>
                                <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_lista_sprint' idP %}">Sprint Backlog</a>
                            </li>
                            <li>
                                <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_consultar_sprint' idP idS %}">Consulta de Sprint</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-list"></i> Agregar User Story a Sprint
                            </li>
            </ol>
        </div>
        <div class="col-lg-9">
                <form action="" method="post">
                {% csrf_token %}
                    <div class="form-group">
                    <ul>
                        <li><strong>Duración del Sprint en días:</strong> {{ sprint.duracion_dias }} </li><br>
                        <li><strong>Saldo del Sprint en horas:</strong> {{ saldo }} </li><br>

                        <li><strong>Elegir User Stories para agregar al Sprint: </strong></li>
                    </ul>
                           {% for us in us_actuales %}
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id = "us_form" name="us_form" value="{{ us.id }}" checked>Descripción corta:&nbsp;{{ us.descripcion_corta }}&nbsp;|&nbsp;Horas estimadas:&nbsp;{{ us.tiempo_estimado }}|&nbsp;Prioridad:&nbsp;{{ us.get_prioridad_verbose }}<br>
                                </label>
                            </div>
                            {% endfor %}
                            {% for us in us_sin_asingar %}
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id = "us_form" name="us_form" value="{{ us.id }}">Descripción corta:&nbsp;{{ us.descripcion_corta }}&nbsp;|&nbsp;Horas estimadas:&nbsp;{{ us.tiempo_estimado }}|&nbsp;Prioridad:&nbsp;{{ us.get_prioridad_verbose }}<br>
                                </label>
                            </div>
                            {% endfor %}
                    </div>
                    <br>
                    <button type="submit" class="btn btn-success">Guardar</button>
                    <button type="reset" class="btn btn-default">Limpiar datos</button>
                    <a class="btn btn-sm btn-default" href="{% url 'proyecto:vista_consultar_sprint' idP idS%}">Cancelar</a>
                </form>
        </div>
    </div>

{% endblock %}