{% extends 'base_para_proyecto.html' %}
{% block titulo %}
    Developers del Sprint
{% endblock %}
{% block header %}
{% endblock %}
{% block contenido %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Developers del Sprint
                <small></small>
            </h1>
            <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="{% url 'proyecto:vista_index' %}">Inicio</a>
                            </li>
                            {% if request.user.is_staff %}
                             <li>
                                <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_listar_proyectos' %}">Lista de Proyectos</a>
                            </li>
                            {% else %}
                            <li>
                                <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_mis_proyectos' %}">Mis Proyectos</a>
                            </li>
                            {% endif %}
                            <li>
                                <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_consultar_proyecto' proyecto.id %}">Consulta Proyecto</a>
                            </li>
                            <li>
                                <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_lista_sprint' idP %}">Sprint Backlog</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-list"></i> Developers del Sprint
                            </li>
            </ol>
        </div>
        <div class="col-lg-6">
            <form action="" method="post">
                {% csrf_token %}
                    <div class="form-group">
                        <label>Elegir Developers del Proyecto: </label>
                           {% for x in lista_developers_check %}
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="participadentes_form" value="{{ x.user.username }}" checked>{{ x.user.username }}<br>
                                </label>
                            </div>
                            {% endfor %}
                            {% for x in lista_developers_no_check %}
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="participadentes_form" value="{{ x.user.username }}">{{ x.user.username }}<br>
                                    </label>
                                </div>
                            {% endfor %}
                    </div>
                <br>
                <button type="submit" class="btn btn-success">Guardar</button>
                <button type="reset" class="btn btn-default">Limpiar datos</button>
                <a class="btn btn-sm btn-default" href="{% url 'proyecto:vista_lista_sprint' idP %}">Cancelar</a>
            </form>
        </div>
    </div>

{% endblock %}