{% extends 'base_para_proyecto.html' %}
{% block titulo %}
    Asignar horas de trabajo
{% endblock %}
{% block header %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <script> generate("success","{{ message }}") </script>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block contenido %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Asignar horas de trabajo en el Sprint
                <small></small>
            </h1>

            <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="{% url 'proyecto:vista_index' %}">Inicio</a>
                            </li>
                            {% if request.user.is_staff %}
                             <li>
                                <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_listar_proyectos' %}">Lista de Proyectos</a>
                            </li>
                            {% else %}
                            <li>
                                <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_mis_proyectos' %}">Mis Proyectos</a>
                            </li>
                            {% endif %}
                            <li>
                                <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_consultar_proyecto' proyecto.id %}">Consulta Proyecto</a>
                            </li>
                            <li>
                                <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_lista_sprint' idP %}">Sprint Backlog</a>
                            </li>
                            <li>
                                <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_consultar_sprint' idP idS %}">Consulta de Sprint</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-list"></i> Horas de trabajo en el Sprint
                            </li>
            </ol>
        </div>
        <div class="col-lg-6">
            <ul>
                <li><strong>Ingresar las horas por día que trabajará: </strong></li>
                <br>
            </ul>
            <form action="" method="post">
                {% csrf_token %}
                {% for x in sd %}
                    <p>Developer: {{ x.usuario.user.username }}</p>
                    <input class="form-control" type="number" min="1" max="12" step="1" id="trabajo_horas_form" name="trabajo_horas_form" value="{{ x.hs_trabajo_usuario }}" required autofocus>
                    <br>
                {% endfor %}
                <br>
                <button type="submit" class="btn btn-success">Guardar</button>
                <button type="reset" class="btn btn-default">Limpiar datos</button>
                <a class="btn btn-sm btn-default" href="{% url 'proyecto:vista_consultar_sprint' idP idS%}">Cancelar</a>
            </form>
        </div>
    </div>

{% endblock %}