{% extends 'base_para_proyecto.html' %}
{% block titulo %}
    Detalle Sprint
{% endblock %}
{% block header %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <script> generate("success","{{ message }}") </script>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block contenido %}
    <!— Page Heading —>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Detalles del Sprint
                <small></small>
            </h1>

            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="{% url 'proyecto:vista_index' %}">Inicio</a>
                </li>
                {% if request.user.is_staff %}
                    <li>
                        <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_listar_proyectos' %}">Lista de Proyectos</a>
                    </li>
                {% else %}
                    <li>
                        <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_mis_proyectos' %}">Mis Proyectos</a>
                    </li>
                {% endif %}
                <li>
                    <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_consultar_proyecto' proyecto.id %}">Consulta Proyecto</a>
                </li>
                <li>
                    <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_lista_sprint' idP %}">Sprint Backlog</a>
                </li>
                <li class="active">
                    <i class="fa fa-list"></i> Consulta de Sprint
                </li>

            </ol>
        </div>
        <div class="col-lg-9">
            {% if mensaje %}
                <div class="alert alert-warning">
                    <strong>Atencion: </strong>
                    {% for i in mensaje %}
                        {{ i }}<br>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"> Sprint {{ sprint.id }} </h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><strong>Id del Sprint:</strong> {{ sprint.id }} </li><br>
                        <li><strong>Estado del Sprint:</strong>  {{ sprint.get_estado_verbose }} </li><br>
                        <li><strong>Duración del Sprint en días:</strong> {{ sprint.duracion_dias }} </li><br>
                        <li><strong>Capacidad del Sprint en horas:</strong> {{ sprint.capacidad_horas }} </li><br>
                        <li><strong>Duración de US's del Sprint en horas:</strong>  {{ total_hs_us }} </li><br>
                        <li><strong>Saldo del Sprint en horas:</strong>  {{ saldo }} </li><br>
                        <li><strong>Avance del Sprint en horas:</strong>  {{ sprint.avance_horas }} </li><br>
                        <li><strong>Horas estimadas para terminar el Sprint:</strong>  {{ sprint.horas_para_terminar }} </li><br>
                        <li><strong>Developers del Sprint:</strong>
                            {% for developers in lista_developers_sin_repetir %}
                                {{ developers.usuario.user.username }} /
                            {% endfor %}
                        </li><br>
                    </ul>
                </div>
            </div>
            <ul>
                <li><strong>User Stories del Sprint:</strong></li>
            </ul>
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th><center>Id</center></th>
                    <th><center>Descripción</center></th>
                    <th><center>Duración</center></th>
                    <th><center>Prioridad</center></th>
                    <th><center>Developer</center></th>
                    <th><center>Flujo</center></th>
                    <th><center>User Story</center></th>
                </tr>
                </thead>
                <tbody>
                {% for x in lista_us %}
                    <tr>

                        <td>{{ x.us.id }}</td>
                        <td>{{ x.us.descripcion_corta }}</td>
                        <td>{{ x.us.tiempo_estimado }}</td>
                        <td>{{ x.us.get_prioridad_verbose }}</td>
                        <td>
                            {% for key, value in dicc_US_dev.items %}
                                {% if key == x.us.id %}
                                    {{ value }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for key, value in dicc_US_flujos.items %}
                                {% if key == x.us.id %}
                                    {{ value }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            <center>
                                {% if x.us != None %}
                                    <a class="btn btn-sm btn-default" href="{% url 'proyecto:vista_consultar_us' idP x.us.id %}">Detalles</a>
                                    {% if not x.us.id in listaIdUsEstanEnFlujo %}
                                        <a class="btn btn-sm btn-success" href="{% url 'proyecto:vista_agregarUSaFlujo' idP x.us.id idS%}">Agregar a un flujo</a>
                                    {% endif %}
                                    {% if 'agregar_developer_us' in permisosAsociados and ld_vacia == False and sprint.estado != 'FI' %}
                                        <a class="btn btn-sm btn-default" href="{% url 'proyecto:vista_agregar_developer_us' idP idS x.us.id%}">Developer</a>
                                    {% endif %}
                                {% endif %}
                            </center>
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
            {% if sprint.estado != 'FI' %}
                {% if 'agregar_us_a_sprint' in permisosAsociados and sprint.estado != 'EJ' %}
                    <a class="btn btn-sm btn-default" href="{% url 'proyecto:vista_agregar_us' idP idS%}">Agregar User Stories</a>
                {% endif %}
                {% if 'editar_sprint' in permisosAsociados and ld_vacia == False %}
                    <a class="btn btn-sm btn-default" href="{% url 'proyecto:vista_asignar_horas_trabajo' idP idS%}">Asignar horas de Trabajo Developers</a>
                {% endif%}
            {% endif %}
            <br><br>
            <ul>
                <li><strong>Log de eventos:</strong></li>
            </ul>
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th>Descripción del evento</th>
                    <th>Hora y fecha del evento</th>

                </tr>
                </thead>
                <tbody>
                {% for log in lista_log %}
                    <tr>

                        <td>{{ log.descripcion }}</td>
                        <td>{{ log.timestamp }}</td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}