{% extends 'base_para_proyecto.html' %}
{% block titulo %}
    Crear Sprint
{% endblock %}
{% block header %}
{% endblock %}
{% block contenido %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Crear Sprint
                <small></small>
            </h1>
            <ol class="breadcrumb">
                 <li>
                    <i class="fa fa-dashboard"></i>  <a href="{% url 'proyecto:vista_index' %}">Inicio</a>
                 </li>
                 <li>
                    <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_mis_proyectos' %}">Mis Proyectos</a>
                 </li>
                 <li>
                    <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_listar_proyectos' %}">Consulta Proyecto</a>
                 </li>
                 <li class="active">
                    <i class="fa fa-list"></i>Crear Sprint
                 </li>
            </ol>
        </div>
        <div class="col-lg-6">
            <form id="formEditarRol" action="" method="post">
                {% csrf_token %}
                <label>Duración en días:</label>
                <input class="form-control" type="number" min="1" step="1" id="duracion_dias_form" name="duracion_dias_form" required autofocus>
                <br>

                <button type="submit" class="btn btn-success">Guardar</button>
                <button type="reset" class="btn btn-default">Limpiar datos</button>
                <a class="btn btn-sm btn-default" href="{% url 'proyecto:vista_lista_us' idP%}">Cancelar</a>
            </form>
        </div>
    </div>

{% endblock %}