{% extends 'base_para_proyecto.html' %}
{% block titulo %}
    Sprint Backlog
{% endblock %}
{% block header %}
    <script>
        function eliminarSprint(idS) {

            bootbox.dialog({
                message: "¿Realmente desea eliminar el Sprint '"+idS+"'?",
                title: "Eliminar Sprint",
                buttons: {
                    success: {
                        label: "Sí",
                        className: "btn-success",
                        callback: function () {

                            var request = $.ajax({
                                type: "POST",
                                url: "{% url 'proyecto:vista_eliminar_sprint' %}",
                                data: {
                                    "csrfmiddlewaretoken": "{{ csrf_token }}",
                                    "idP": {{ proyecto.id }},
                                    "idS": idS
                                },
                            });
                            request.done(function (response) {
                                    alert("Sprint eliminado..");
                                window.location="{% url 'proyecto:vista_lista_sprint' proyecto.id %}"
                            });
                        }
                    },
                    danger: {
                        label: "No",
                        className: "btn-danger"
                    }
                }
            });
        }

        function finalizarSprint(idS) {

            bootbox.dialog({
                message: "¿Realmente desea finalizar el Sprint '"+idS+"'?",
                title: "Finalizar Sprint",
                buttons: {
                    success: {
                        label: "Sí",
                        className: "btn-success",
                        callback: function () {

                            var request = $.ajax({
                                type: "POST",
                                url: "{% url 'proyecto:vista_finalizar_sprint' %}",
                                data: {
                                    "csrfmiddlewaretoken": "{{ csrf_token }}",
                                    "idP": {{ proyecto.id }},
                                    "idS": idS
                                },
                            });
                            request.done(function (response) {
                                alert("Sprint finalizado");
                                window.location="{% url 'proyecto:vista_lista_sprint' proyecto.id %}"
                            });
                        }
                    },
                    danger: {
                        label: "No",
                        className: "btn-danger"
                    }
                }
            });
        }

    </script>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <script> generate("success","{{ message }}") </script>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
{% block contenido %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Sprint Backlog
                <small></small>
            </h1>

            <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="{% url 'proyecto:vista_index' %}">Inicio</a>
                            </li>
                            {% if request.user.is_staff %}
                             <li>
                                <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_listar_proyectos' %}">Lista de Proyectos</a>
                            </li>
                            {% else %}
                            <li>
                                <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_mis_proyectos' %}">Mis Proyectos</a>
                            </li>
                            {% endif %}
                            <li>
                                <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_consultar_proyecto' proyecto.id %}">Consulta Proyecto</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-list"></i> Sprint Backlog
                            </li>
            </ol>
        </div>
        <div class="col-lg-9">
            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th><center>Duración del Sprint</center></th>
                                        <th><center>Estado del Sprint</center></th>
                                        <th><center>Sprint</center></th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for elemento in listaSprints %}
                                    <tr>
                                        <td>{{ elemento.0.sprint.duracion_dias }}</td>
                                        <td>{{ elemento.0.sprint.get_estado_verbose }}</td>
                                        <td>
                                            <center>
                                                {% if 'ejecutar_sprint' in permisosAsociados and elemento.0.sprint.estado == 'PN' and sprint_en_ejecucion == False and elemento.1%}
                                                    <a class="btn btn-sm btn-success" href="{% url 'proyecto:vista_ejecutar_sprint' proyecto.id elemento.0.sprint.id  %}">Iniciar</a>
                                                {% endif %}
                                                <a class="btn btn-sm btn-default" href="{% url 'proyecto:vista_consultar_sprint' proyecto.id elemento.0.sprint.id %}">Detalles</a>
                                                {% if elemento.0.sprint.estado != 'FI' %}
                                                    {% if 'editar_sprint' in permisosAsociados %}
                                                        <a class="btn btn-sm btn-default" href="{% url 'proyecto:vista_modificar_sprint' proyecto.id elemento.0.sprint.id %}">Modificar</a>
                                                        <a class="btn btn-sm btn-default" href="{% url 'proyecto:vista_agregar_developer_sprint' proyecto.id elemento.0.sprint.id %}">Developers</a>
                                                    {% endif %}
                                                {% endif %}
                                                {% if 'finalizar_sprint' in permisosAsociados and elemento.0.sprint.estado == 'EJ' %}
                                                    <a href="javascript:finalizarSprint({{elemento.0.sprint.id}});" class="btn btn-sm btn-danger">Finalizar</a>
                                                {% endif %}
                                                <!--
                                                 if 'eliminar_sprint' in permisosAsociados %}
                                                    <a href="javascript:eliminarSprint({{elemento.sprint.id}});" class="btn btn-sm btn-danger">Eliminar</a>
                                                endif %}
                                                -->
                                            </center>
                                        </td>
                                    </tr>

                                {% endfor %}

                                </tbody>
                            </table>
        </div>

    </div>

{% endblock %}