{% extends 'base_para_proyecto.html' %}
{% block titulo %}
    Modificar Sprint
{% endblock %}
{% block contenido %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Modificar Sprint
                <small></small>
            </h1>
            <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="{% url 'proyecto:vista_index' %}">Inicio</a>
                            </li>
                            {% if request.user.is_staff %}
                             <li>
                                <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_listar_proyectos' %}">Lista de Proyectos</a>
                            </li>
                            {% else %}
                            <li>
                                <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_mis_proyectos' %}">Mis Proyectos</a>
                            </li>
                            {% endif %}
                            <li>
                                <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_consultar_proyecto' proyecto.id %}">Consulta Proyecto</a>
                            </li>
                            <li>
                                <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_lista_sprint' idP %}">Sprint Backlog</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-list"></i> Modificar Sprint
                            </li>

            </ol>
        </div>
        <div class="col-lg-6">
            <form action="" method="post">
                {% csrf_token %}
                <label>Duración en días:</label>
                <input class="form-control" type="number" min="1" step="1" id="duracion_dias_form" name="duracion_dias_form" value = "{{ sprint.duracion_dias }}" required autofocus>
                <br>

                <button type="submit" class="btn btn-success">Guardar</button>
                <button type="reset" class="btn btn-default">Limpiar datos</button>
                <a class="btn btn-sm btn-default" href="{% url 'proyecto:vista_lista_sprint' idP%}">Cancelar</a>
            </form>
        </div>
    </div>

{% endblock %}