{% extends 'base_para_proyecto.html' %}
{% block titulo %}
    Registrar avance
{% endblock %}
{% block header %}
{% endblock %}
{% block contenido %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Registrar avance en el User Story
                <small></small>
            </h1>
            <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="{% url 'proyecto:vista_index' %}">Inicio</a>
                            </li>
                            {% if request.user.is_staff %}
                             <li>
                                <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_listar_proyectos' %}">Lista de Proyectos</a>
                            </li>
                            {% else %}
                            <li>
                                <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_mis_proyectos' %}">Mis Proyectos</a>
                            </li>
                            {% endif %}
                            <li>
                                <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_consultar_proyecto' proyecto.id %}">Consulta Proyecto</a>
                            </li>
                            <li>
                                <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_lista_us' idP %}">Product Backlog</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-list"></i> Registrar Avance
                            </li>
            </ol>
        </div>
        <div class="col-lg-5">
            <form action="" method="post">
                {% csrf_token %}
                <ul>
                    <li><label>Tiempo de duración estimado del UserStory en horas:  </label>{{ us.tiempo_estimado }}</li>
                    <br>
                    <li><label>Tiempo dedicado al UserStory en horas:</label></li>
                    <input class="form-control" type="number" step="any" id="tiempo_dedicado_form" name="tiempo_dedicado_form" required>
                    <br>
                </ul>
                <button type="submit" class="btn btn-success" >Guardar</button>
                <button type="reset" class="btn btn-default">Datos originales</button>
                <a class="btn btn-sm btn-default" href="{% url 'proyecto:vista_lista_us' idP%}">Cancelar</a>
            </form>
        </div>
    </div>

{% endblock %}