{% extends 'base_para_proyecto.html' %}
{% block titulo %}
    Detalle US
{% endblock %}
{% block header %}
    <script>
        function eliminarArchivo(idArchivo) {
            bootbox.dialog({
                message: "¿Realmente desea eliminar el archivo adjunto ?",
                title: "Eliminar archivo",
                buttons: {
                    success: {
                        label: "Sí",
                        className: "btn-success",
                        callback: function () {

                            var request = $.ajax({
                                type: "POST",
                                url: "{% url 'proyecto:vista_eliminarArchivo' %}",
                                data: {
                                    "csrfmiddlewaretoken": "{{ csrf_token }}",
                                    "idArchivo": idArchivo
                                },
                            });
                            request.done(function (response) {
                                alert("Archivo eliminado..");
                                window.location = "{% url 'proyecto:vista_listaPermisos' %}"
                            });
                        }
                    },
                    danger: {
                        label: "No",
                        className: "btn-danger"
                    }
                }
            });
        }
        function eliminarNota(idArchivo) {
            bootbox.dialog({
                message: "¿Realmente desea eliminar la nota adjunta ?",
                title: "Eliminar nota",
                buttons: {
                    success: {
                        label: "Sí",
                        className: "btn-success",
                        callback: function () {

                            var request = $.ajax({
                                type: "POST",
                                url: "{% url 'proyecto:vista_eliminarNota' %}",
                                data: {
                                    "csrfmiddlewaretoken": "{{ csrf_token }}",
                                    "idNota": idArchivo
                                },
                            });
                            request.done(function (response) {
                                alert("Nota eliminada..");
                                window.location = "{% url 'proyecto:vista_listaPermisos' %}"
                            });
                        }
                    },
                    danger: {
                        label: "No",
                        className: "btn-danger"
                    }
                }
            });
        }


    </script>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <script> generate("success","{{ message }}") </script>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block contenido %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Detalles del US
                <small></small>
            </h1>

            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="{% url 'proyecto:vista_index' %}">Inicio</a>
                </li>
                {% if request.user.is_staff %}
                    <li>
                        <i class="fa fa-table"></i> <a href="{% url 'proyecto:vista_listar_proyectos' %}">Lista de
                        Proyectos</a>
                    </li>
                {% else %}
                    <li>
                        <i class="fa fa-table"></i> <a href="{% url 'proyecto:vista_mis_proyectos' %}">Mis Proyectos</a>
                    </li>
                {% endif %}
                <li>
                    <i class="fa fa-table"></i> <a href="{% url 'proyecto:vista_consultar_proyecto' proyecto.id %}">Consulta
                    Proyecto</a>
                </li>
                <li>
                    <i class="fa fa-table"></i> <a href="{% url 'proyecto:vista_lista_us' idP %}">Product Backlog</a>
                </li>
                <li class="active">
                    <i class="fa fa-list"></i> Consulta User Story
                </li>

            </ol>
        </div>
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" align="center"> {{ proyecto.nombre_largo }} </h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><strong>Id del US:</strong> {{ us.id }} </li>
                        <br>
                        <li><strong>Descripción corta del User Story:</strong> {{ us.descripcion_corta }} </li>
                        <br>
                        <li><strong>Descripción larga del User Story:</strong> {{ us.descripcion_larga }} </li>
                        <br>
                        <li><strong>Tiempo estimado del User Story en horas:</strong> {{ us.tiempo_estimado }} </li>
                        <br>
                        <li><strong>Developer del User Story:</strong> {{ pb.usuario.user.username }} </li>
                        <br>
                        <li><strong>Tiempo dedicado al User Story en horas:</strong> {{ us.tiempo_dedicado }} </li>
                        <br>
                        <li><strong>Prioridad del User Story:</strong> {{ us.get_prioridad_verbose }} </li>
                        <br>
                        <li><strong>Valor de Negocio del User Story:</strong> {{ us.valor_de_negocios }} </li>
                        <br>
                        <li><strong>Valor Tecnico del User Story:</strong> {{ us.valor_tecnico }} </li>
                        <br>
                        <li><strong>Tiempo de creación del User Story:</strong> {{ us.timestamp }} </li>
                        <br>
                        <br>
                        <li><strong>Archivos adjuntos:</strong></li>
                        <br>
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                            <tr>
                                <th>
                                    <center>Links de descarga</center>
                                </th>
                             <th>
                            <center>Adjunto por</center>
                            </th>
                             <th>
                            <center>Fecha de creación</center>
                            </th>
                                 {% if 'eliminar_archivo' in permisosAsociados and esDeveloper or esScrumMaster%}
                                <th>
                                    <center>Archivo</center>
                                </th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for file in files %}
                                <tr>
                                    <td align="center"><a target="_blank" href="data:;base64,{{ file.archivo }}"
                                                          download="{{ file.nombreArchivo }}">{{ file.nombreArchivo }}</a>
                                    </td>
                                    <td align="center">{{ file.user.username }}</td>
                                    <td align="center">{{ file.timestamp }}</td>
                                    {% if 'eliminar_archivo' in permisosAsociados and esDeveloper or esScrumMaster%}
                                    <td align="center">
                                        <a href=javascript:eliminarArchivo({{ file.id }}) id="btnEliminar" class="btn btn-danger">Eliminar</a>
                                    </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <li><strong>Notas adjuntas:</strong></li>
                        <br>
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                            <tr>
                                <th>
                                    <center>Contenido</center>

                                </th>
                            <th>
                            <center>Creada por</center>
                            </th>
                             <th>
                            <center>Fecha de creación</center>
                            </th>
                                {% if 'eliminar_nota' in permisosAsociados and esDeveloper or esScrumMaster%}
                                <th>
                                    <center>Nota</center>
                                </th>
                                 {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for nota in notas %}
                                <tr>
                                    <td>{{ nota.nota }}</td>
                                    <td align="center">{{ nota.user.username }}</td>
                                    <td align="center">{{ nota.timestamp }}</td>
                                    {% if 'eliminar_nota' in permisosAsociados and esDeveloper or esScrumMaster%}
                                     <td align="center">
                                        <a href=javascript:eliminarNota({{ nota.id }}) class="btn btn-danger">Eliminar</a>
                                    </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <li><strong>Log de eventos:</strong></li>
                        <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Descripción del evento</th>
                                        <th>Hora y fecha del evento</th>

                                    </tr>
                                </thead>
                                <tbody>
                                {% for log in lista_log %}
                                    <tr>

                                        <td>{{ log.descripcion }}</td>
                                        <td>{{ log.timestamp }}</td>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                    </ul>

                </div>
            </div>
            {% if 'registrar_avances_us' in permisosAsociados and pb.usuario.user.username == request.user.username %}
                <a class="btn btn-sm btn-default"
                   href="{% url 'proyecto:vista_registrar_avance_us' proyecto.id us.id %}">Registrar avances</a>
            {% endif %}
        </div>
    </div>

{% endblock %}