{% extends 'base_para_proyecto.html' %}
{% block titulo %}
    UserStory
{% endblock %}
{% block header %}
{% endblock %}
{% block contenido %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Crear User Story
                <small></small>
            </h1>
            <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="{% url 'proyecto:vista_index' %}">Inicio</a>
                            </li>
                            <li>
                                <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_mis_proyectos' %}">Mis Proyectos</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-list"></i><a href="{% url 'proyecto:vista_consultar_proyecto' proyecto.id%}">Consulta Proyecto</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-fw fa-edit"></i> Crear nuevo UserStory
                            </li>
            </ol>
        </div>
        <div class="col-lg-6">
            {% if msj_error %}
                <div class="alert alert-danger">
                    <strong>{{ msj_error }}</strong>
                </div>
            {% endif %}
            {% if msj_ok %}
                <div class="alert alert-success">
                    <strong>{{ msj_ok }}</strong>
                </div>
            {% endif %}
            <form action="" method="post">
                {% csrf_token %}
                <!--{ form.as_p } -->
                <!---->
                <!--Campos donde se cargara los atributos del User Story-->

                <label>Descripción corta del UserStory:</label>
                <input class="form-control" id="descripcion_corta_form" name="descripcion_corta_form" placeholder="Este campo no puede estar vacio" autofocus required>
                <p class="help-block">Longitud máxima de 140 caracteres</p>
                <br>
                <label>Descripción larga del UserStory:</label>
                <textarea class="form-control" id="descripcion_larga_form" name="descripcion_larga_form" placeholder="Este campo no puede estar vacio" rows="3" required></textarea>
                <p class="help-block">Longitud máxima de 500 caracteres</p>
                <br>
                <label>Tiempo de duración estimado del UserStory en horas:</label>
                <input class="form-control" type="number" step="any" id="tiempo_estimado_form" name="tiempo_estimado_form" required>
                <br>
                <div class="form-group">
                    <label>Elegir prioridad del UserStory: </label>
                    <select class="form-control" id="prioridad_form" name="prioridad_form">
                        <option>Baja</option>
                        <option>Media</option>
                        <option>Alta</option>
                    </select>
                </div>
                <br>
                <label>Valor de negocios del UserStory:</label>
                <input class="form-control" type="number" step="any" id="valor_de_negocios_form" name="valor_de_negocios_form" min="1" max="10" required>
                <br>
                <label>Valor tecnico del UserStory:</label>
                <input class="form-control" type="number" step="any" id="valor_tecnico_form" name="valor_tecnico_form" min="1" max="10" required>
                <br>

                <button type="submit" class="btn btn-success">Guardar</button>
                <button type="reset" class="btn btn-default">Limpiar datos</button>
                <a class="btn btn-sm btn-default" href="{% url 'proyecto:vista_lista_us' idP%}">Cancelar</a>
            </form>
        </div>
    </div>

{% endblock %}