{% extends 'base_para_proyecto.html' %}
{% block titulo %}
    Product Backlog
{% endblock %}
{% block header %}
    <script>
        function eliminarUS(idUS,nombreUS) {

            bootbox.dialog({
                message: "¿Realmente desea eliminar el User Story '"+nombreUS+"'?",
                title: "Eliminar User Story",
                buttons: {
                    success: {
                        label: "Sí",
                        className: "btn-success",
                        callback: function () {

                            var request = $.ajax({
                                type: "POST",
                                url: "{% url 'proyecto:vista_eliminarUS' %}",
                                data: {
                                    "csrfmiddlewaretoken": "{{ csrf_token }}",
                                    "IDProyecto": {{ proyecto.id }},
                                    "IDUs": idUS
                                },
                            });
                            request.done(function (response) {
                                    alert("User Story eliminado..");
                                window.location="{% url 'proyecto:vista_lista_us' proyecto.id %}"
                            });
                        }
                    },
                    danger: {
                        label: "No",
                        className: "btn-danger"
                    }
                }
            });
        }
    </script>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <script> generate("success","{{ message }}") </script>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block contenido %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Product Backlog
                <small></small>
            </h1>

            <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="{% url 'proyecto:vista_index' %}">Inicio</a>
                            </li>
                            {% if request.user.is_staff %}
                             <li>
                                <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_listar_proyectos' %}">Lista de Proyectos</a>
                            </li>
                            {% else %}
                            <li>
                                <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_mis_proyectos' %}">Mis Proyectos</a>
                            </li>
                            {% endif %}
                            <li>
                                <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_consultar_proyecto' proyecto.id %}">Consulta Proyecto</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-list"></i> Product Backlog
                            </li>
            </ol>
        </div>
        <div class="col-lg-9">
            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th><center>Descripción corta</center></th>
                                        <th><center>Descripción larga</center></th>
                                        <th><center>Prioridad</center></th>
                                        <th><center>User Story</center></th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for us in lista_us %}
                                    <tr>
                                        <td>{{ us.0.descripcion_corta }}</td>
                                        <td>{{ us.0.descripcion_larga }}</td>
                                        <td>{{ us.0.get_prioridad_verbose }}</td>
                                            <td>
                                                <center>
                                                    <a class="btn btn-sm btn-default" href="{% url 'proyecto:vista_consultar_us' proyecto.id us.0.id %}">Detalles</a>
                                                    {% if 'editar_us' in permisosAsociados %}
                                                    <a class="btn btn-sm btn-default" href="{% url 'proyecto:vista_modificar_us' proyecto.id us.0.id %}">Modificar</a>
                                                    {% endif %}
                                                    {% if us.1.id == user.id or user.id == scrum.id%}
                                                    <a class="btn btn-sm btn-success" href="{% url 'proyecto:vista_subirArchivo' proyecto.id us.0.id %}">Adjuntar archivos y notas</a>
                                                    {% endif %}
                                                    {% if 'eliminar_us' in permisosAsociados and us.0.asignado_a_sprint == False%}
                                                    <a href="javascript:eliminarUS({{us.0.id}},'{{us.0.descripcion_corta}}');" class="btn btn-sm btn-danger">Eliminar</a>
                                                    {% endif %}
                                                </center>
                                            </td>
                                    </tr>

                                {% endfor %}

                                </tbody>
                            </table>
        </div>

    </div>

{% endblock %}