{% extends 'base_para_proyecto.html' %}
{% block titulo %}
    Modificar User Story
{% endblock %}
{% block header %}
{% endblock %}
{% block contenido %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Modificar User Story
                <small></small>
            </h1>
            <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="{% url 'proyecto:vista_index' %}">Inicio</a>
                            </li>
                            {% if request.user.is_staff %}
                             <li>
                                <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_listar_proyectos' %}">Lista de Proyectos</a>
                            </li>
                            {% else %}
                            <li>
                                <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_mis_proyectos' %}">Mis Proyectos</a>
                            </li>
                            {% endif %}
                            <li>
                                <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_consultar_proyecto' proyecto.id %}">Consulta Proyecto</a>
                            </li>
                            <li>
                                <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_lista_us' idP %}">Product Backlog</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-list"></i> Modificar User Story
                            </li>
            </ol>
        </div>
        <div class="col-lg-6">
            <form action="" method="post">
                {% csrf_token %}
                <label>Descripción corta del User Story:</label>
                <input class="form-control" id="descripcion_corta_form" name="descripcion_corta_form" placeholder="Este campo no puede estar vacio" value= "{{ us.descripcion_corta }}" autofocus required>
                <p class="help-block">Longitud máxima de 140 caracteres</p>
                <br>
                <label>Descripción larga del User Story:</label>
                <textarea class="form-control" id="descripcion_larga_form" name="descripcion_larga_form" placeholder="Este campo no puede estar vacio" rows="3" required>{{ us.descripcion_larga }}</textarea>
                <p class="help-block">Longitud máxima de 500 caracteres</p>
                <br>
                <label>Tiempo de duración estimado del UserStory en horas:</label>
                <input class="form-control" type="number" step="any" id="tiempo_estimado_form" name="tiempo_estimado_form" value= "{{ us.tiempo_estimado }}" required>
                <br>
                <div class="form-group">
                    <label>Elegir prioridad del UserStory: </label>
                    <select class="form-control" id="prioridad_form" name="prioridad_form">
                        <option>Baja</option>
                        <option>Media</option>
                        <option>Alta</option>
                    </select>
                </div>
                <br>
                <label>Valor de negocios del UserStory:</label>
                <input class="form-control" type="number" step="any" id="valor_de_negocios_form" name="valor_de_negocios_form" min="1" max="10" value= "{{ us.valor_de_negocios }}" required>
                <br>
                <label>Valor tecnico del UserStory:</label>
                <input class="form-control" type="number" step="any" id="valor_tecnico_form" name="valor_tecnico_form" min="1" max="10" value= "{{ us.valor_tecnico }}" required>
                <br>

                <button type="submit" class="btn btn-success" >Guardar</button>
                <button type="reset" class="btn btn-default">Datos originales</button>
                <a class="btn btn-sm btn-default" href="{% url 'proyecto:vista_lista_us' idP%}">Cancelar</a>
            </form>
        </div>
    </div>

{% endblock %}