{% extends 'base.html' %}
{% block titulo %}
    Proyecto
{% endblock %}
{% block header %}
{% endblock %}
{% block contenido %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Adjuntar archivos y notas - User Story '{{ us.descripcion_corta }}'
                <small></small>
            </h1>
            <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="{% url 'proyecto:vista_index' %}">Inicio</a>
                            </li>
                            {% if request.user.is_staff %}
                             <li>
                                <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_listar_proyectos' %}">Lista de Proyectos</a>
                            </li>
                            {% else %}
                            <li>
                                <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_mis_proyectos' %}">Mis Proyectos</a>
                            </li>
                            {% endif %}
                            <li>
                                <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_consultar_proyecto' proyecto.id %}">Consulta Proyecto</a>
                            </li>
                            <li>
                                <i class="fa fa-table"></i>  <a href="{% url 'proyecto:vista_lista_us' idP %}">Product Backlog</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-list"></i> Adjuntar archivos y notas.
                            </li>
            </ol>
        </div>
        <div class="col-lg-6">
            <form action="" method="post" name="form" id="form" enctype="multipart/form-data">
                {% csrf_token %}

                <label>Adjuntar archivos:</label>
               <input type="file" name="archivo" multiple="multiple">

                <br>
                <label>Adjuntar una nota:</label>
               <textarea class="form-control" rows="10" name="nota"></textarea>
                <br>

                <button type="submit" class="btn btn-success" >Guardar</button>



            </form>
        </div>

    </div>

{% endblock %}